[2019-06-21 12:14] hj0707 commented on #912
i met the same issue, but use OmniDB server , and i don't know how to install the oracle instant on OmniDB server, what is the path?

[2019-06-21 12:57] rafaelthca commented on #1013
Hi @hj0707,

Thank you for reporting this. There was an error in the build process for Windows, which did not include the python package related to Oracle connections. I'm rebuilding it. Will share soon.

[2019-06-21 13:26] rafaelthca commented on #1013
Done. Please reinstall your specific version and try again. Same download link in:

https://omnidb.org/en/downloads-en

Note that you still need the oracle instant client properly installed, as the document explains:

https://omnidb.org/en/documentation-en/installation

Let us know how that goes.

[2019-06-21 15:00] hj0707 commented on #1013
Hi Rafaelthca:
     Thank you for your quickly replay,
      it works, it is a good project , hope it become perfect

[2019-06-21 15:00] #1013 closed

[2019-06-23 01:48] wind39 commented on #946
Hi @erdusa , @rafaelthca

I stumped into this issue by chance, but I was executing the same very simple query against 2 OmniDB instances:

- Local app connected to a remote database via SSH tunnel;
- Remote server connected to a remote database, which was close to the server.

And the 30 seconds "penalty" happened only on the instance that was connected to the database via SSH tunnel, and not the

[2019-06-24 09:53] GaryMilller opened #1014 "OmniDB 2.16 - Logical Replication subscriptions and publishers do not display"
When checking the "logical replication" tab on a database, existing publisher and subscriber profiles are not visible in the drop-down list.

![image](https://user-images.githubusercontent.com/43343709/60009553-feaf1700-966d-11e9-8c01-b31723a8f218.png)

Tested on OmniDB App 2.16.0 Client
Windows Version 10.0.18362.145 x64

[2019-06-24 12:30] rafaelthca commented on #1014
Thanks for opening this issue. Will investigate.

[2019-06-24 12:43] GaryMilller commented on #1014
Just to make you aware, this issue is also present in OmniDB server v2.15.0 for Ubuntu, although it wasn't present in v2.13.0.

[2019-06-24 21:37] TigerIcecold opened #1015 "How to use OmniDB behind a proxy web server with Apache 2.4?"
Hi everybody,
I’m struggling with implementing the OmniDB server behind a Apache 2.4 Webserver in a proxy configuration. Can somebody please deliver the needed httpd.conf code for it? The websocket proxying is breaking my neck. I’m using the newest release 2.16. I would like also to host it under the /omnidb endpoint. I’m using Ubuntu Linux. OmniDB is installed on a different server as the mention

[2019-06-25 12:32] rafaelthca commented on #1015
Hi @TigerIcecold,

We are in the process of writing a fully updated doc, which will include these steps.

This part of the doc explains how OmniDB's ports work, and how to deploy with nginx:

https://omnidb.org/en/documentation-en/19-deploying-omnidb-server

We are documenting the steps to use with Apache too, but it is not ready.

Latest release (2.16.0) came with a new feature that allows to con

[2019-06-25 18:36] TigerIcecold commented on #1015
Hi @rafaelthca,

thank you for your very detailed explanation and your hints for the correct configuration! I have now found an Apache 2.4 configuration, that seems to work!

This is my omnidb.conf config:

[code]
listening_address = 0.0.0.0 --> because my apache is an other VM (I know, I could enter here also the IP of that VM - that was for testing purposes).
external_websocket_port = 80 (my tes

[2019-06-28 10:59] leancode opened #1016 "OmniDB.app 2.16..0 not starting on macOS 10.14.5"
Installed OmniDB using:
`brew cask install omnidb
`
It starts as seen below and then immediately dies.
No log files created in ~/Library/Logs/OmniDB.
![Screenshot 2019-06-28 at 12 49 40](https://user-images.githubusercontent.com/611460/60337406-4c47be80-99a3-11e9-8e9b-63b806026688.jpg)
The system console shows:

Any ideas? Anything else I can provide?
Thank you.

[2019-06-28 13:34] wind39 commented on #1016
Hi @leancode ,

Thanks for reaching out. Can you please try downloading the official `.dmg` file from our website and give it a go?

https://omnidb.org/en/downloads-en

Regards,

William

[2019-06-28 13:35] barthisrael opened #1017 "Bug while exporting file in OmniDB app"
OS: Kubuntu 18.10
OmniDB app 2.16

After generating CSV or XLSX file and clicking in 'save' link in the interface, a file dialog opens and freezes until the app is shutdown. It opens as many file dialogs as you click in the save button, all frozen.

[2019-06-30 10:43] goddanao opened #1018 "OmniDB Server - Disable Login"
Is there an option for disabling the user login for omnidb server like omnidb app ?

[2019-07-01 14:01] pgaro commented on #940
Thanks, works like a charm!

Regards
pgaro

[2019-07-01 14:01] #940 closed

[2019-07-01 14:03] pgaro commented on #845
Works at my end. Thank you!

Regards
pgaro

[2019-07-01 14:03] #845 closed

[2019-07-01 14:09] pgaro commented on #934
While it slightly changed (#845 ), I'm no longer able to reproduce this behavior.

All the best
pgaro

[2019-07-01 14:09] #934 closed

[2019-07-01 15:23] TigerIcecold commented on #1015
Hi @rafaelthca,

now I have an other issue. As long as I use HTTP only without SSL on my front web server, everything works fine:

![OmniDB-Without-SSL](https://user-images.githubusercontent.com/52179928/60447354-9343e700-9c23-11e9-9f52-ca253500cdd4.png)

But as soon as I activate SSL, the websocket port can't be reached!

The first attempt goes to the correct URL with the correct endpoint, but th

[2019-07-01 21:07] ts-mini opened #1019 "OIDC/OAuth Login"
First off, thanks for this! It's awesome.

Is there any plan to implement oauth/oidc instead of the local users?  There is already a lot of support around it in the django land (https://pypi.org/project/django-auth-oidc/ or https://mozilla-django-oidc.readthedocs.io) etc.  Would you accept a PR adding it in?

[2019-07-02 13:13] TigerIcecold commented on #1015
Addition to yesterday's issue:

Now the first attemtp seems to work fine: HTTP 200 response. But the second WSS attemt goes to a port, that is closed in the internet. Is that probably a bug? HTTPS is being handles completely by the front end web server. A end-to-end encryption from the OmniDB side is not necessary in that case, right?

<img width="1918" alt="2019-07-02 15_01_45-OmniDB" src="https:

[2019-07-02 20:26] leancode commented on #1016
@wind39
Thanks for getting back, unfortunately exactly the same problem. I did a full uninstall including Application Support / Cache / Saved State and all and it exactly the same.
I checked in the cask and the download is from
https://omnidb.org/dist/2.16.0/omnidb-app_2.16.0-mac.dmg which seems like is exactly the same as the one you linked to.
Anything else I can do to debug this?

[2019-07-03 03:18] rafaelthca commented on #1015
Hi,

I'm currently traveling and using cellphone, so apologies for not being able give a more complete response, will do so as soon as possible.

When OmniDB fails to connect using the configured external websocket port, it tries to connect to the internal one. The question is why the external attempt is failing.

When using OmniDB behind apache or nginx with ssl the recommendation is that you set

[2019-07-03 04:36] rafaelthca commented on #1015
Here is the config I use with nginx:

[code]

And omnidb.conf:

[code]

I will try with apache once I have time.

Rafael.

[2019-07-03 04:39] rafaelthca commented on #1015
Another thing, can you try with chrome?

[2019-07-03 08:12] TigerIcecold commented on #1015
@rafaelthca

Thank you for you response! It is very kind of you, that you answer even while travelling =)

This is my OmniDB Conf file:

[code]
I'm using _listening_address = 0.0.0.0_ because my webservers are different machines and I'm using multiple webservers to test different configurations. I'm not using OmniDB and Apache on the same VM/machine.

Also I've checked this setting: _is_ssl = Fals

[2019-07-03 17:02] TigerIcecold commented on #1015
Hi @rafaelthca

I think, I have found a better and a more stable solution for my issue:

With the help of the rewrite engine of the Apache webserver the websocket is proxied correctly with the HTTP response 101 (switching protocols). _Thanks for that valuable hint!_

Here is my Apache code snippet for OmniDB proxy config:

[code]
This config is better, because here the request header is used to **

[2019-07-09 12:15] iffyuva commented on #729
Update in case if anyone visits this issue:

I got this working on Kubernetes. But had to do bunch of changes. You can see them here https://github.com/OmniDB/OmniDB/compare/master...dockup:dockup?expand=1

My setup:

traefik (ssl termination happens here) -> omnidb ingress -> omnidb service -> omnidb pod
omnidb pod -> has nginx + omnidb server managed by supervisor

Once request gets past traefik

[2019-07-09 16:33] dd-a commented on #1016
Same for me with dmg and brew, on Mojave 10.14.5 and 10.13.x .  omnidb 2.15 works fine.

[2019-07-10 10:54] leancode commented on #1016
Yes I can confirm that 2.15 work without hitches on macOS 10.14.5 Mojave. On 2.16 its the server component that is crashing. I checked in activity monitor and the actual app and the helper are running  but the server crashes.

[2019-07-10 11:54] rafaelthca commented on #1016
Hi. Apologies for taking that long to reply. Can you please try to run `omnidb-server` from iTerm?

Open iTerm (or your preferred console app), go to where OmniDB app is, then run:

[code]

and share the errors.

Regards,

Rafael.

[2019-07-10 13:40] ccurvey opened #1021 "ctrl-c doesn't always work for copying from the data pane"
I'll admit...this sometimes works, but usually doesn't, and I can't find the pattern

1. Run a query
2. click on a cell (or range of cells) in the results pane
3. hit ctrl-c (to copy)
4. try to paste somewhere else (another app, the query window)...you'll get whatever was in the clipboard BEFORE you hit ctrl-c.  (so ctrl-c does not seem to be working).

Using right-click and then copy seems to wor

[2019-07-10 14:10] dd-a commented on #1016
Hello.  I tried your suggestions but with the same result.  A message says : `Illegal instruction: 4`

[2019-07-11 01:04] sdtm1016 commented on #1010
This feature is urgently needed.

[2019-07-11 16:58] rafaelthca commented on #1010
Hi,

We have been busy, apologies for not replying earlier.

When using SSH Tunnels OmniDB uses random ports under the hood to perform the tunneling and then connect to (127.0.0.1:PORT), so there isn't a way to define which port will be used in the tunnel, but you configure a .pgpass with a config like that:

[code]

This is not ideal, of course, because all local connections will use that passwor

[2019-07-11 19:04] marcopin opened #1022 "Postgresql: Editing materialized views not showing indexes"
Great work of yours. I am testing postgresql database.

I use materialized views with "indexes", but when I tried to edit a materialized view editor does not show "create unique index ..." statement related to the mv.

Because of this, when running the resulting code (drop materialized view...; create materialized view ...;)  index disappears.

I need this unique indexes in order to refresh mv "co

[2019-07-15 04:34] sstubbs opened #1023 "postgresxl section"
Hi,
I have a postgresxl 10r1.1 cluster setup. When using omnidb 2.16.0 it does show postgresxl at the top but am I supposed to have a section for managing distributions like in this tutorial?
https://www.2ndquadrant.com/en/blog/postgres-xl-omnidb/
Or is this not available anymore?

[2019-07-15 04:38] sstubbs commented on #1023
My mistake I found the plugin to install.

[2019-07-15 04:38] #1023 closed

[2019-07-17 01:43] sdtm1016 commented on #905
File paths：~/.my.cnf  cannot be found in  Windows environments

[2019-07-17 13:35] ppatali commented on #615
@wind39 To contribute to support a new database like SQL Server, could you please provide some guidelines such as - which class/interface to be implemented? where is it in the code path? how to integrate the new class into the project?

[2019-07-19 10:09] aintitfun opened #1025 "foreign tables not shown on autocompletion"

[2019-07-19 10:10] aintitfun commented on #1025
just created a foreign table (via odbc_fdw) but I am unable to show it on autocompletion. I logged this just FYI, just in case...

Thanks a lot of for your product!!!

[2019-07-19 16:32] ralphpig commented on #1016
Same problem

[code]

[2019-07-20 12:27] leancode commented on #1016
Yes, I am also getting the illegal instruction 4. See below:
![Screenshot 2019-07-20 at 14 25 40](https://user-images.githubusercontent.com/611460/61578624-59675180-aafa-11e9-83cf-5cf41ff0117d.jpg)

[2019-07-20 12:34] rafaelthca commented on #1016
Thanks everyone for providing details. I'm working on a fix.

[2019-07-24 10:42] shyding commented on #912
my path is "D:\OmniDB-server", where should put  the oracle instant path?

[2019-07-25 12:33] chacarrons opened #1026 "Omnidb on the cloud server is always disconnected"
I packaged omnidb and ran it on a cloud server, connected omnidb locally, and always disconnected.It always fails to connect 5432 and 5430.why? How should solve?thanks

[2019-07-28 15:13] rafaelthca commented on #1016
Before 2.16 we used to bundle OmniDB on mac using a Yosemite VM. Starting on 2.16 we decided to bundle using Mojave, which was done in a 10.14.5 machine.

I'm rolling back this decision for now. We are re creating the Yosemite environment to build OmniDB there.

[2019-07-28 23:01] ralphpig commented on #1016
I was able to run the server from source on my 10.14.5 machine

[2019-08-02 06:01] haha174 commented on #714
hi William,

      our user also need to import data from a csv file, can you tell me plan. - is this still on the agenda? Kind of a make or break detail for me, top notch software though 👍

Regards,
Aaron

[2019-08-05 05:52] mjhd commented on #714
@wind39 - cool cool, looking forward to it!

[2019-08-06 12:59] rafaelthca commented on #1016
Hi everyone, apologies for the delay. Could you please test this version and see if it works for you?

https://omnidb.org/dist/2.16.0/test/omnidb-app_2.16.0-mac.dmg

[2019-08-06 13:08] teneruffian commented on #1016
Works for me.  Many thanks.

[2019-08-07 06:40] Prakkie commented on #694
Hi,

I am trying to run multiple queries in OmniDB v2.16 on Oracle DB and I get error: ORA-00933: SQL command not properly ended.

I am just trying
select * from tab;
select * from tab;

I have also tried DDLs. I tried selecting all queries and clicking on Run. No luck.
Please advise if I am missing something.

Thanks.

[2019-08-08 05:55] alfabaria opened #1028 "omnidb-server always show alert message "session object was destroyed" when open from browser"
i just install omnidb-server on my server running with centos 7 and everything is ok,
the problem is when i first login to  omnidb via web browser using default admin user,
the page alwasy show alert message "session object was destroyed" when i click "connection" menu or click "user menu", and i really don't know what happen, please somebody help me to fix this.

![image](https://user-images.gith

[2019-08-08 13:58] rafaelthca commented on #1028
Hi @alfabaria. I'm going to need more details to troubleshoot the issue.

Are you accessing OmniDB remotely or is it a local instance?

Can I take a look at omnidb.conf that you are using? Or are you using default settings?

Are you accessing through a reverse proxy? Apache, nginx, etc.

Which browser are you using? If chrome, please press F12 and go to the network tab. Refresh the page and show m

[2019-08-08 14:37] alfabaria commented on #1028
thankyou @rafaelthca for your respond :
yes i access OmniDB remotely but i'm not using reverse proxy (Apache, nginx etc),
and here omnidb.conf that i used for my server :
`# OmniDB Server configuration file

[webserver]

# What address the webserver listens to, 0.0.0.0 listens to all addresses bound to the machine
# listening_address    = 127.0.0.1
listening_address    = 0.0.0.0

# Webserver port,

[2019-08-09 01:55] rafaelthca commented on #1028
v_error : true and v_error_id : 1 Indicates that the session object was not found, which is weird, specially because before the `get_groups` call there are other XHR requests that perform the same session check. Were those other requests successful?

I also noticed that your client wasn't able to connect to the websocket server (blue icon at the top right). Can you check the contents of the WS fil

[2019-08-09 07:14] alfabaria commented on #1028
OK thanks for you suggestion, the problem is gone, i can add new connection, and new user,

but now i have another problem i can't execute any sql query to my database, it always return "No response from query server", i think it caused by my ws client wasn't able connect to ws server  :

![image](https://user-images.githubusercontent.com/47588662/62761053-ca71a780-baaf-11e9-902b-00fc48bf6065.png)

[2019-08-09 17:31] alfabaria commented on #1028
ok i know, the problem is my server ( CentOS 7) blocking omnidb on default WS port (25482) so i change the port to lowest number 8081 and omnidb running perfect now. thank you.

[2019-08-09 17:31] #1028 closed

[2019-08-11 17:13] palianskas opened #1029 "Cannot connect to websocket with ports 25482 (external) and 25482 (internal). Trying again in 2 seconds."
I'm running OmniDB-server v. 2.16.0 on Chrome OS Version 77.0.3865.18 (Official Build) dev (64-bit) with MySql version 10.1.38-MariaDB-0+deb9u1 Debian 9.8.

Right after starting the omnidb-server, going to localhost and logging in into the admin account, I get the mentioned error. I've tried running the server with specified ports (both "-w" and "-e"), but the server still goes for the default por

[2019-08-12 09:43] dd-a commented on #1016
Briefly tested, works fine.  Thank you very much !

[2019-08-12 11:54] pgaro commented on #1029
This just means that the web page can't reach the webserver to retrieve more information. I can't debug from here why that might be the case.

[2019-08-12 11:57] pgaro opened #1030 "Trim of return fields"
The behavior around trimming text fields is very annoying. Is it possible to at the very least disable that? This way fields that are different are displayed the same way (unless I click on "View Content"), which makes it very inconvenient to look at the data.

All the best
pgaro

[2019-08-12 12:05] pgaro opened #1032 "explain analyze buffers"
The explain analyze button doesn't use buffers. Offering explain (analyze, buffers) sounds like very helpful feature to me. I even think that explain (analyze, buffers) might be the better default for analyzing queries. That differs from verbose, which is not considered as very helpful by a major part of the community.

All the best
pgaro

[2019-08-12 12:31] pgaro commented on #997
Is this really a bug? This seems like a feature request to me.

[2019-08-12 12:38] pgaro opened #1033 "alter table GUI"
A college of mine (since I just write plain sql) pointed out two major shortcomings of the alter table gui:
1. I honestly think it should have a column for the defaults. Quite often null is not the default people want.
2. For array data types the data type is just displayed as ARRAY. One can still insert the datatype easily, but it's inconvenient not to know the current datatype.

All the best
pga

[2019-08-12 12:39] Sharperr commented on #1029
@pgaro can I provide any other info to diagnose the issue?

[2019-08-12 14:53] pgaro commented on #1029
I'm not sure. Did you try setting websocket_port in the onmidb.conf directly?

[2019-08-13 15:02] marcofavale opened #1034 "not all GRANT shown in DLL"
into tab DLL of the table all grant are not listed.

If I have a grant for a specfic column of the table, they are visible in psql but not into the DLL tab.

e.g.

GRANT INSERT(columnA), UPDATE(columnA) ON TABLE mytable TO myuser;

[2019-08-13 15:26] albertosrocha commented on #997
When I call "now()" function, for example, OmniDB works correctly.
I think "now()" is similar to "uuid_generate_v4()" that's why this error sounds like a bug to me.

[2019-08-14 20:38] dfithian commented on #1029
I get this issue as well. Workaround is to hard refresh the page. If that doesn't work, log out and log back in.

[2019-08-15 15:34] dfithian commented on #1029
My load balancer is closing the connection after 1 min. What I'd like to do is increase the timeout - is there a websocket heartbeat interval? If I can set the timeout to be larger than the heartbeat interval the connection should never close.

[2019-08-15 15:42] dfithian commented on #1029
I found this: https://github.com/OmniDB/OmniDB/blob/master/OmniDB/OmniDB_app/static/OmniDB_app/js/QueryClient.js#L86-L111

By inspection it seems to be about every 2 minutes, and this code backs that up as I can see from the websocket request code of 12 in my Chrome console every 2 min. So I think this can be worked around by setting a load balancer timeout of >2 min.

[2019-08-15 16:24] pgaro opened #1035 "Feature: graph for database"
A college of mine likes the graph feature, so he suggested:
It sounds helpful to me to add the option to plot a simple/complete graph of the entire database the user is currently connected to, not just a singe schema.

Regards
pgaro

[2019-08-20 13:50] stevenwinfield commented on #768
I'm still seeing the "cannot execute CREATE TABLE message"
![image](https://user-images.githubusercontent.com/1327493/63352936-df74f300-c359-11e9-8e81-9693c541734a.png)

[2019-08-21 08:15] vzer commented on #1011
`condition` is a reserved word as of [MYSQL](https://dev.mysql.com/doc/refman/5.7/en/keywords.html)

[2019-08-21 20:13] stephaneplante opened #1037 "Is support for Microsoft SQL available?"
I'd like to know if support for Microsoft SQL Server is available at any degree.  If not, I'd like to know where it stands in the roadmap.

Thanks.

[2019-08-26 17:31] TigerIcecold opened #1038 "OmniDB-Server without ROOT/Admin Rights"
Hello,
is it possible to run the OmniDB Server process without the root rights? The installation must be done with SUDO privileges and the omnidb-server process runs after that with the root user rights. Is it possible to run the process with a non-sudo user?
Thank you kindly in advance.
I'm working with Ubuntu.
(P.S.: I'm not a Linux expert, so that's why I'm asking)

[2019-08-26 19:11] thomasboussekey commented on #1038
Hello @TigerIcecold ,

I'm running a docker container with an omnidb server that runs without the root privilege.

Here is the [Dockerfile](https://github.com/taivokasper/docker-omnidb/blob/master/Dockerfile) used to create it.

I hope it helps
Regards,
Thomas

[2019-08-27 11:49] jagobrown commented on #480
FWIW

I use pgadmin where I open & save SQL - saved in git repos I pull down locally.  Currently without this feature I will mostly stay with pgadmin

Kind regards
Jago

[2019-08-28 08:22] wouthoekstra opened #1039 "Non existing columns autotyped"
__Issue:__
Upon clicking 'query data' on a table a query is generated to select all columns in the specified table. In this generated query however, non-existing columns are added.

__Probable cause:__
On my database I have multiple databases, which in several cases have tables with the same name. The columns from the same-named tables are added to the query. For example:

Database 1:
  * Table *u

[2019-08-30 20:08] snowfi6916 opened #1040 "Can't Query Any Tables in Postgres 9.1.4 Database"
I am getting this error every time I right click a table in my Postgres 9.1.4 database and try to run a SELECT query.

![image](https://user-images.githubusercontent.com/30598385/64048613-32ac2a00-cb40-11e9-8d47-7f8704b028a9.png)

This is only happening in my Postgres 9.1.4 database.  I have other Postgres databases which are running a newer version that work fine when I right click a table and ru

[2019-08-30 20:16] snowfi6916 commented on #1040
I copied one of the databases in the 9.1.4 database into a newer version of Postgres that is running on a different port.  I am not getting the error there.  I am also not getting any errors in pgAdmin when I run a query on the 9.1.4 database.

So it's something to do with OmniDB and Postgres 9.1.4 not getting along.

[2019-09-09 15:36] pgaro commented on #1040
Ugh! Please consider updating! 9.1 is EOL for over 3 years now.

A lot of the ACL stuff changed between 9.0 (where a lot was new) and 9.4.

I can't point my finger to the specific version without looking it up, but it might very well include the acldefault function we have today (I obviously don't have a 9.1 running anymore, so I can't check).

All the best
pgaro

[2019-09-09 17:20] snowfi6916 commented on #1040
Thanks for responding.  Unfortunately, it's not up to me when we will update our Postgres on that port, as we have multiple clients using that version.  However, I will pass along that we should upgrade everyone to a newer Postgres version.  Thanks for your help.

[2019-09-09 17:20] #1040 closed

[2019-09-12 20:44] kobaz opened #1041 "Adjust font size of console/edit window with wheel."
I would love to be able to adjust the font size of the buffer i'm editing on the fly.

Ex: I'm in chrome, and I can ctrl-mousewheel to make the page I'm on larger-smaller.

It would be great if it applied to the current window that the cursor is on without affecting any other query editors.

[2019-09-12 20:51] kobaz opened #1042 "'Long view' for query result. Ie: pivot query result"
in psql console you can do
\x
SELECT * FROM foo;

This will display the query result in the 'long format'

I imagine this could be accomplished with a 'record editor' style interface like MS Access, where in order to see the next/previous record, you can arrow right/left.

There's also the possibility to do an 'infinite scroll' type thing, where you can scroll section by section and then have a 'g

[2019-09-12 20:55] kobaz opened #1043 "Show everything needed to create a table in the table DDL"
When using omni, I miss this from pgadmin3, where you can show the DDL for a table and copy/paste the DDL and have the table created exactly the same on another system.

What's missing from omni:
Sequences that are needed are not shown in the table DDL.  Also, sequence-based columns 'serial columns' are not shown as such in the table DDL.

I've this example, I execute this in psql console:
CREATE

[2019-09-12 21:00] kobaz opened #1044 "Table columns DDL"
Another thing I miss from pgadmin3.

Click on a column and show the DDL to create that column
ALTER TABLE foo ADD COLUMN bar text DEFAULT 'abc123' NOT NULL;

Also, split the DDL into individual actions
ALTER TABLE foo ADD COLUMN bar text;
ALTER TABLE foo ALTER COLUMN bar SET DEFAULT 'abc123';
ALTER TABLE foo ALTER COLUMN bar SET NOT NULL;

[2019-09-12 21:06] kobaz opened #1045 "Individual element color control"
Something that would be great would be to be able to control the colors of individual elements (ie, build our own themes).

I'm a huge fan of dark mode, easier on the eyes, especially at night.

All the dark mode themes I've tried so far have an off-white color for the text, which is hard to read.  I would like to be able to set the query editor font color to be plain white, and adjust the other c

[2019-09-13 20:05] kobaz opened #1046 "Don't specify columns that have not been changed when inserting new row."

[2019-09-13 20:19] kobaz opened #1047 "Fully expand column data"
On the Data Actions -> Edit Data component

Say you have a very very long column value and  want to see the entire thing without having to right click and do 'edit content'.  Maybe you want to see multiple rows in all their full glory without having to slowly expand the column manually.

pgadmin3 has a nice feature where you can double click a column header and it will do a three-way grow/shrink

[2019-09-13 20:22] kobaz opened #1048 "Changing query size while editing new row to be saved will lose the new row data"
Bug, as shown here:
![GIFrecord_2019-09-13_162127](https://user-images.githubusercontent.com/1695852/64892539-a707c280-d642-11e9-8a66-721f08c22280.gif)

[2019-09-13 20:27] kobaz opened #1049 "Clone row"
Data Actions -> Edit Data

It would be really nifty to be able to right click a row and do 'Clone Row' and have the new row go into the bottom of the grid into the normal spot of a new row so that you can edit it prior to doing a save.

[2019-09-17 21:06] thjack opened #1050 "quick search"
please add quick searck in menu tree

Por favor agregar una busqueda rapida en el arbol de menu
![2ndquadrant2](https://user-images.githubusercontent.com/2963281/65079490-eac13b80-d964-11e9-906f-00defc33b38e.png)

[2019-09-19 09:54] pgaro commented on #961
Will this be ready when pg12 becomes stable, which is likely less than a month away?
I just tried run it against apg12beta3 test database noticed the relhasiods thing and other columns like adsrc for indexes.

All the best
pgaro

[2019-09-25 14:58] wind39 commented on #833
Closing this issue now.

[2019-09-25 14:58] #833 closed

[2019-09-26 15:49] pgaro commented on #961
fyi: We have 12 RC 1 now. 12.0 is likely do be released next Thursday (October the 3rd).

All the best
pgaro

[2019-09-26 17:02] pgaro commented on #1048
Is that really a bug? You never saved anything.

Regards
pgaro

[2019-09-26 17:43] wind39 opened #1051 "Convert "Connections" to an Outer Tab"

[2019-09-26 18:26] kobaz commented on #1048
I would consider it a bug.  It's data loss.  You're making a view change to show more records and there's no warning about loss of new record input.

I would think it would be useful to either warn the user that they have unsaved data that will be lost, or preserve the data.  My vote would be preserving the data.

[2019-09-30 08:15] pgaro commented on #1048
I'd vote against that, since there is no way to abort otherwise. I think just discarding what you have done (but not saved) without recalling which row stem from the last action you did, is something helpful for a GUI.

Regards
pgaro

[2019-09-30 13:17] wind39 commented on #1048
Hi @pgaro and @kobaz ,

Thanks for the helpful discussion.

I was thinking that, instead of keeping changes (that may be a lot of changes, imagine you pasted hundreds of thousands of new rows into the grid but didn't click on "Save" yet), we can add a popup that would appear if the user has some non-saved changes and click on the "Play" button to run the query again. The popup would inform the use

[2019-09-30 13:27] pgaro commented on #1048
Sounds good to me.

Regards
pgaro

[2019-10-01 02:08] kobaz commented on #1048
Whether or not to keep the changes or show a warning is in the eye of the beholder of course.  I'm a big fan of flexibility...

You can certainly discard unsaved rows after issuing a warning if someone hits the play button.  I would consider this a hard abort on whatever is typed without saving.  But when changing the row count of the query, I would like to see it preserve data.

I believe a casua

[2019-10-14 15:05] ice1x commented on #714
I need this feature too so if it is neccessary and possible i am ready to help (have Python experience about 5 years).

As i understand it should be easy to read csv, but need to get also some API like behind 'insert' to feed csv content to it

[2019-10-16 01:22] Yansre opened #1052 "Sql syntax prompt"
Mysql and oracle have no sql prompt function，automatic completion

[2019-10-21 14:27] renemendes opened #1053 "Tracing SQL queries issued by users"
Hi,

Is it possible tracing SQL queries issued by users ? If yes, how to implement it ?

Thanks.

[2019-10-30 08:16] mariusa opened #1054 "Prettify improvement request: also capitalize SQL keywords"
Hi and thanks for this wonderful app!

The docs mention prettify, not just Indent:

It would be very useful to do more prettify things, such as capitalize SQL keywords.
eg
[code]
would be prettified to
[code]

Thanks!

[2019-10-30 08:32] mariusa commented on #1054
Attaching a testcase with expected result

[test-input.txt](https://github.com/OmniDB/OmniDB/files/3787676/test-input.txt)
[test-expected.txt](https://github.com/OmniDB/OmniDB/files/3787674/test-expected.txt)

[2019-10-30 08:38] mariusa opened #1055 "Connections feature request: add Name"
Please add a Name property for each connection. If specified, this name should be shown in tabs and other places asking to connect to. People can fill in names such as 'project-dev', 'project-staging' etc.

Now it seems the database name is used, and that is a random string when using cloud providers such as Heroku.

[2019-10-30 14:47] kobaz opened #1056 "Save passwords to .pgpass if option is enabled to do so"
I understand the postgres connector will read stored passwords from .pgpass...

But if the user has chosen (and accepted the risks of) storing passwords in .pgpass, then entering a new password in the prompt should save the new password to the .pgpass file.

This behavior can be an option in the settings.

[2019-10-30 14:55] kobaz opened #1057 "Move DDL tab (or Option to put DDL in a 'Main' tab)"
DDL can vary widely from a single line alter column statement to a thousand line or more function call.  Many other interfaces put the DDL in a main editor-style window.

It should definitely remain read-only, but have a nice 'edit ddl' button which will then copy the body into a query window.

I find myself manually doing the following steps quite frequently.

- Click Function
- Select DDL tab (i

[2019-10-30 14:56] kobaz commented on #1057
![Screenshot from 2019-10-30 10-49-18](https://user-images.githubusercontent.com/1695852/67869469-dba4e000-fb03-11e9-9999-082fa5e15550.png)

[2019-11-02 09:13] mariusa opened #1058 "Make snippets quicker accessible"
When working within a db connection, it's useful to quickly select & run a snippet

Now, one has to switch to Snippets, right click desired snippet, select Run, select connection, then press Alt+Q. Phew.

Please make it faster by having a snippet icon in Query tab row of icons, after "Explain Analyze".
Clicking on it should show a dropdown with snippet names (similar to CSV/XLS dropdown).
Clicking

[2019-11-03 20:36] mariusa opened #1059 "Double clicking on cell should trigger 'View content'"
When looking at Data results grid, some data doesn't fit the cell (JSON).
Right click > 'View content' solves this. Please make it faster by having double clicking on cell also trigger 'View content'.

[2019-11-03 20:37] mariusa opened #1060 "View content for JSON data should auto-beautify it"
When choosing Data > Viewi content for JSON/JSONB column types, please auto-beautify it before display (eg https://www.google.com/search?q=json+beautifier )

[2019-11-08 00:44] brainwang commented on #729
@rhnewtron the solution does not work in my OKD 3.11, error: could not connect to websocket ... in browser.
Could you please help check?
Here is my OKD template:

[2019-11-08 05:07] r00nscapenab opened #1061 "MARIADB/MYSQL TO POSTGRESQL"
How can I convert mariadb/mysql to postgresql?

[2019-11-08 17:48] skjbulcher opened #1062 "Error In SQL Syntax With Variable In Query Tab"
Hi,

I'm running OmniDB 2.16.0. I'm getting a 1064 error when using variables.

## To reproduce:

1. Open a new Query Tab
1. Enter the following query:

        SET @avalue="my value";
        SELECT @avalue;

1. Run the query

**Expected result:**
[code]

**Actual result:**

`(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the rig

[2019-11-12 15:29] aaronelmore opened #1063 "\copy command not working for postgresql in console"
Hello,

When I try to use the \copy (not copy) command for postgresql I receive an error

syntax error at or near "\"
LINE 1: \copy tester from ...

I have verified that the command can run via psql directly.

Using a simple \copy like
\copy tester from 'C:\Users\XXX\test.csv' delimiter ',';

[2019-11-14 20:37] boethin commented on #961
few pg 12 fixes commited, regarding removed columns pg_class.relhasoids, pg_attrdef.adsrc,
see pull request. works fine for me, not sure if there is more to do
regards sebastian

[2019-11-15 20:20] great-machine commented on #881
Hi, please remove this, I use mariadb and I cant edit the row, I have a primary key on several selected tables but I still get this error.

[2019-11-18 15:13] kondrat-net opened #1065 "Missing comment of tables, views and functions"
DDL is missing comments of table, views and functions. Will it be possible to preview and edit comments in next versions?

The application is great and I would like to use it in the future. Greetings.

[2019-11-20 20:16] skotu-vida commented on #98
hey guys, was wondering if there is any update on this enhancement?

[2019-11-22 09:42] sapisuper opened #1066 "ERROR : ValueError: filedescriptor out of range in select()"
Hi ,

I just get massive error log:

after that I can't access omnidb (**omnidb down**) . I just restart omnidb-server and service back to normal again.

my omnidb version is v2.16.0 build from source. running on Ubuntu 16.04.5 LTS. please check this issue?

Thank you,

Satria

[2019-11-23 14:23] rafaelthca opened #1067 "OmniDB Development"
Fellow OmniDB users,

This issue is being created to give you an update about the current state and next development plans.

Since the beginning of the 2.0 version of this project (python application) we religiously followed the rule of releasing a new version every month, which was later changed to having a release every 2 months.

We broke the rule since last release due to limited time to conti

[2019-11-28 20:06] wind39 opened #1068 "Chart "CPU Usage" fails with misleading message because mpstat is not installed"
On CentOS 7.

Also fails if locale is not English, because the chart expects "Average" to be written in the output.

[2019-11-28 20:07] wind39 commented on #1068
Perhaps we can add `LC_ALL=C` before the command.

[2019-11-29 04:54] dewapurag opened #1070 "Omni DB inaccessible due to high cpu usage used by Omni DB process"
Omni DB Web URL sometimes fails to load with connection timeout errors. Most of the times this is faced when omni db process is having more than 100% cpu usage.

[2019-11-29 08:13] francoisoger commented on #1067
Hi guys,

these are very good news, thanks for the update!

[2019-11-29 08:31] sapisuper commented on #1066
I just add reload script, it can be temporary solution for this issue. thanks

[2019-11-29 23:11] kobaz opened #1072 "Cannot start omnidb, unable to open port"
Started having this issue randomly.

![image](https://user-images.githubusercontent.com/1695852/69892453-97a82500-12d3-11ea-84d4-d08ad81d3b01.png)

I only have one instance of omni trying to start

[2019-11-29 23:15] kobaz commented on #1072
Omni seems to be locked up while this is going on.  Cannot select in the textarea to copy the log.

Also, when closing omni by hitting the application X button (provided by my window manager)

I get:
![image](https://user-images.githubusercontent.com/1695852/69892516-43517500-12d4-11ea-9e1f-cbeb1d434f75.png)

[2019-11-30 12:55] barthisrael commented on #969
Implemented in #1073

[2019-12-02 13:13] WesleyTheGeolien opened #1074 "Dockerfile OMNIDB_VERSION outdated"
Hello,

I cloned the repo then ran `docker build --rm -f "Dockerfile" -t omnidb:latest .` however on step 6 I get `returned a non-zero code: 8` I checked the website and the current version is 2.16.0 and not 2.14.0 as in the dockerfile, if I change this then it works.

[2019-12-03 05:03] dewapurag commented on #1070
@wind39 Could you advice on above issue.

[2019-12-03 14:31] wind39 commented on #98
Hi @skotu-vida ,

We have been investigating this. Due to the number of requests from users we have increased priority of this ticket. I will let you know via this ticket.

Regards,

William

[2019-12-03 14:33] wind39 commented on #296
Hi,

Closing this for now.

Support for other databases such as Firebird and SQLite is coming out soon. Please stay tuned to the release announcements and release notes.

Best regards,

William

[2019-12-03 14:33] #296 closed

[2019-12-03 14:37] wind39 commented on #403
Hi @rafaelthca ,

Please consider @cschwaderer 's suggestions when handling the changes to the web interface.

Thanks and regards,

William

[2019-12-03 14:42] wind39 commented on #480
Hi,

Increasing priority as users need to access SQL files on disk.

Regards,

William

[2019-12-03 14:44] wind39 commented on #486
Hi,

We are definitely going to add more features for Oracle, but currently features from RDMS other than PostgreSQL are low priority.

Regards,

William

[2019-12-03 14:47] wind39 commented on #525
Hi @lennyluosz ,

The roadmap can be found here: https://github.com/orgs/OmniDB/projects/3

Regards,

William

[2019-12-03 14:51] wind39 commented on #545
Hi @cschwaderer ,

Here are the points the still need work on this ticket:

Regards,

William

[2019-12-03 14:54] cschwaderer commented on #545
@wind39 Thanks for comming back to me!

I think, this one is also not done yet:

[2019-12-03 14:55] wind39 commented on #553
Hi,

Currently this ticket requires implementation of a field for encoding in the connection grid.

Regards,

William

[2019-12-03 14:56] wind39 commented on #545
Hi @cschwaderer ,

Hmm, that's correct, this point is still not implemented. Thanks for the heads up.

Regards,

William

[2019-12-03 14:59] wind39 commented on #545
Hi @rafaelthca ,

Actually last point @cschwaderer mentioned is not only a small improvement to the web interface, it is about an usability issue. User's can't use DO blocks, functions or procedures that issue messages correctly because OmniDB does not show them at the moment they are being issued.

Hence I increased the severity of this issue.

Best regards,

William

[2019-12-03 15:02] wind39 commented on #594
Hi @erdusa ,

Is this something that could be added to the Monitoring Dashboard?

Best regards,

William

[2019-12-03 15:04] wind39 commented on #595
Hi @erdusa , @rafaelthca ,

I'm setting this as high priority because it makes users not be able to properly use the Edit Data feature.

Regards,

William

[2019-12-03 16:45] erdusa commented on #594
Hi @wind39,

I think this feature could be in the Monitoring -> Backends, only it needs automatic refresh for n seconds and it has colors for states

[2019-12-03 17:28] wind39 commented on #598
Hi @pgaro ,

Syntax highlighting comes from the web editor component, Ace Editor. I understand not getting a proper highlighting can be somewhat frustrating, so I increased priority of this and set it as a `bug`.

There is some work being done by @rafaelthca on the web interface, so I'm pointing this to him.

Thanks and regards,

William

[2019-12-03 17:38] wind39 commented on #671
Hi @rafaelthca ,

In order to close this ticket, we just need to implement a setting for whether the user wants to have autocommit disabled or enabled by default.

Just pointing it out to you.

Thanks and regards,

William

[2019-12-03 17:51] wind39 commented on #697
Closing this because unfortunately we don't have enough information about the platform.

[2019-12-03 17:51] #697 closed

[2019-12-03 17:52] wind39 commented on #698
Increasing the priority of this.

[2019-12-03 17:56] wind39 commented on #701
Hi @SachaUA ,

I'm closing this because it is a duplicate of #480 .

Best regards,

William

[2019-12-03 17:58] wind39 commented on #705
Hi @rafaelthca ,

Please keep this one in mind when handling changes in web interface.

Thanks and regards,

William

[2019-12-03 18:00] wind39 commented on #706
Hi @RoldaoSouza ,

Please try to reproduce this issue.

Thanks and regards,

William

[2019-12-03 18:04] wind39 commented on #714
Hi,

I've increased the priority of this ticket due to high number of requests from users.

Regards,

William

[2019-12-03 18:06] wind39 commented on #719
Hi,

We are performing some usability tests on RedHat 7.

Regards,

William

[2019-12-03 18:07] wind39 commented on #722
Hi,

Increasing priority of this, thanks for the feedback.

Regards,

William

[2019-12-03 18:17] wind39 commented on #733
Hi @rafaelthca ,

Please take this one into account when performing changes in web interface.

We probably need to document how user can change font settings, even if it requires tweaking some files.

Best regards,

William

[2019-12-03 18:19] wind39 commented on #755
Hi,

Closing this one, as the window will always be open maximized.

Regards,

William

[2019-12-03 18:19] #755 closed

[2019-12-03 18:22] wind39 commented on #423
Hi,

Closing this as a duplicate of #772 .

Regards,

William

[2019-12-03 18:25] wind39 commented on #773
Hi @rafaelthca ,

Please consider all great suggestsions from @rightaway when performing changes in OmniDB web interface.

Thanks and regards,

William

[2019-12-03 18:29] wind39 commented on #780
Hi @rafaelthca , @brylie ,

I believe this has a lot of potential for a plugin.

Best regards,

William

[2019-12-03 18:36] wind39 commented on #789
Hi @rafaelthca ,

Bumping this up to high priority due to the amount of user requests, on this and other tickets.

Regards,

William

[2019-12-03 18:40] wind39 commented on #802
Bumping the priority of this ticket, we need support for aggregates ASAP.

[2019-12-03 18:41] wind39 commented on #792
Hi @rafaelthca ,

Does it have to do with cookie expiration time?

Best regards,

William

[2019-12-03 18:45] wind39 commented on #805
Closing this as duplicate of #727 .

[2019-12-03 18:45] #805 closed

[2019-12-03 18:48] wind39 commented on #814
Hi @rafaelthca ,

The issue reported by @hectoryo in his last message is high priority issue in web interface. Please check.

Thanks and regards,

William

[2019-12-03 18:51] wind39 commented on #824
Hi @kobaz ,

I consider this as a bug, so increased priority. We can also see it happening in #783 .

Regards,

William

[2019-12-03 18:55] wind39 commented on #827
Hi @kobaz ,

I can still see this issue in 2.16. Apparently this happens with some kinds of specific statements. We are going to investigate this.

Regards,

William

[2019-12-03 18:55] wind39 commented on #829
Hi @kobaz , @rafaelthca ,

That's important issue we need to fix in EditData.

Regards,

William

[2019-12-03 18:59] wind39 commented on #834
Hi @bdharrington7 ,

We are implementing support for PostgreSQL for the user database. This should be completed soon.

Regards,

William

[2019-12-03 19:00] wind39 commented on #832
Hi @qris ,

We are trying to reproduce this.

Regards,

William

[2019-12-03 19:47] #1074 closed

[2019-12-04 02:31] wind39 opened #1084 "Support for CentOS 8 / RedHat 8"
Build containers and UAT machines.

[2019-12-04 12:06] dewapurag commented on #1070
@wind39 @rafaelthca  Currently we are using v2.16 and we get a lot of compalins from users that OmniDB isn't loading. Appreciate your advice on this.

[2019-12-04 12:17] rafaelthca commented on #1070
hi @dewapurag,

How many users access OmniDB concurrently? Just a rough estimation.

Is CPU usage 100% all the time? Do you have to restart OmniDB or does it go back to normal by itself?

How often do you experience that? This is a critical issue and we will work together to solve it.

Rafael.

[2019-12-04 12:23] rafaelthca commented on #1070
Another question, does one of your users use the SSH terminal feature?

[2019-12-04 13:40] rafaelthca commented on #1070
I just pushed a fix to the issue related to SSH terminal. When the SSH tunnel to the remote machine gets disconnected, there is a corner case where the thread waiting for console responses remains stuck in an infinite loop, resulting in 100% CPU.

We are going release 2.17 tomorrow with this fix.

I would still appreciate if you can answer my previous questions so we can investigate if your issue

[2019-12-04 13:43] dewapurag commented on #1070
Hi @rafaelthca

Currently around 25 users access concurrently.
Not everytime but sometimes this cpu hit occurs and it resolves automatically too.
If it doesn't resolve automatically  have to restart OmniDB to get back to normal.
Atleast once per day this occur.

[2019-12-04 13:57] rafaelthca commented on #1070
Ok.

Is there anything useful in the logs at around the time you are experiencing high CPU usage? Please share it with us after masking sensitive data.

Please test 2.17 after tomorrow's release and let us know if issue is fixed. If not, we'll have to do a more in depth analysis.

What OS are you on?

[2019-12-04 20:11] wind39 commented on #719
Hi @pilayar76 ,

We have performed tests of OmniDB 2.17 (to be released tomorrow) against RedHat 7, CentOS 7 and Fedora 30/31. It runs fine. You can see in the screenshot below OmniDB app 2.17 running on RedHat 7:

![image](https://user-images.githubusercontent.com/7719686/70177366-fe08bb00-16b8-11ea-9f54-5e1ff7c496ca.png)

Please try downloading OmniDB 2.17 tomorrow after the release, and please

[2019-12-04 21:28] wind39 commented on #808
Hi @hunsakerbn ,

I managed to reproduce this:

![image](https://user-images.githubusercontent.com/7719686/70183088-e551d280-16c3-11ea-8854-44ce0c8fee67.png)

Trying to fix.

Regards,

William

[2019-12-04 22:51] wind39 commented on #808
Hi @hunsakerbn ,

I managed to fix this. Now OmniDB server on CentOS 6 starts normally:

![image](https://user-images.githubusercontent.com/7719686/70188200-d7ee1580-16ce-11ea-8e02-4b6148872ebd.png)

![image](https://user-images.githubusercontent.com/7719686/70188316-1d124780-16cf-11ea-82ad-dbb9db4e982a.png)

The issue is that we package OmniDB with Django 2.1.x on Debian and CentOS 7. Django 2.1.

[2019-12-05 04:50] dewapurag commented on #1070
@rafaelthca
We don't use SSH Tunnel, currently we use only below values to connect;
Technology : mysql
Server -
Port -
Database -
User -
SSH Port -

Currenly syslog looks fine, is there any other log you want me to share

[2019-12-05 05:11] dewapurag commented on #1070
Please find below OS version
`root@xxx:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="16.04.4 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.4 LTS"
VERSION_ID="16.04"
`

[2019-12-05 09:16] brylie commented on #780
Thanks.

I have been evaluating several tools, like Superset and Redash, and each has challenges. OmniDB seems uniquely positioned to be a Tableau alternative if there were some emphasis put on data visualization.

I am available to help with the task. My recent background is primarily in Python/JavaScript data visualization and analysis.

[2019-12-05 09:57] bbotte commented on #1067
This is a very good project, I spent half a year, I have a question to ask：

[2019-12-05 17:44] wind39 commented on #546
Hi,

Downloads page now show MD5 for each file.

Closing this now.

Regards,

William

[2019-12-05 17:44] #546 closed

[2019-12-05 17:47] wind39 commented on #1070
Hi @dewapurag ,

Today we released OmniDB 2.17.0 with a bunch of fixes that might be related to your problem.

Please try upgrading OmniDB to 2.17.0 and see if the issue persists.

Best regards,

William

[2019-12-05 17:49] wind39 commented on #961
Hi @pgaro and @boethin ,

Today we have released OmniDB 2.17.0 with support to PostgreSQL 12. Also thanks for contribution from @boethin :)

We would appreciate your feedback on this.

Best regards,

William

[2019-12-05 18:49] wind39 commented on #780
Hi @brylie ,

Thanks for getting back to me.

We would love to expand OmniDB's data visualization capabilities.

Currently OmniDB offers a feature called Monitoring Dashboard. The idea is to show a bunch of data organized in charts or grids. Each unit of information is called a "monitoring unit", and it has a Python code plus a JSON code to define the structure. Currently it works only for Postgre

[2019-12-06 00:22] brylie commented on #780
For charts, there are fully-fledged JavaScript plotting libraries like [Plotly.js](https://plot.ly/javascript/) and [ECharts](https://www.echartsjs.com/en/index.html).

[2019-12-06 00:22] brylie commented on #780
I could help with an ECharts dashboarding prototype. What would be some good docs to start with for learning the plugin system?

[2019-12-06 02:00] bbotte commented on #1067
i got it, thank you very mach!   i like this tool.

[2019-12-13 17:33] RobW101 opened #1089 "Data Table copy Column Headers and Tree View memory"
Hi,
New user here, looking to replace client-side pgAdmin with a server-side solution. OmniDB looks perfect for the job - lightweight / pretty / intuitive :-)

Having had a play, there are two features I miss from pgAdmin3:

1. The option to include field headers when copying from the Data Table output (via both clipboard or csv export methods)
2. The expanded tree view being remembered from sessi

[2019-12-18 10:20] rkolka commented on #961
GetPropertiesForeignTable fails
column c.relhasoids does not exist
LINE 17:                        c.relhasoids as "Has OIDs",

[2019-12-18 12:41] wind39 commented on #961
Hi @rkolka ,

Thanks for reporting. Fixing this.

Regards,

William

[2019-12-20 13:39] rkolka commented on #961
GetDDLProcedure script fails:
public.test() is not a function

--- a/OmniDB/OmniDB_app/include/OmniDatabase/PostgreSQL.py
+++ b/OmniDB/OmniDB_app/include/OmniDatabase/PostgreSQL.py
@@ -8983,7 +8983,7 @@ DROP COLUMN #column_name#
             grants as (
             select coalesce(
                     string_agg(format(
-                	E'GRANT %s ON FUNCTION {0} TO %s%s;\n',
+

[2019-12-20 18:35] wind39 commented on #961
Thanks @rkolka .

[2019-12-21 07:43] LongTaiJun opened #1090 "Nginx反代OmniDB出现Websocket替换重连解决办法"
折腾了半天终于搞定了，我使用docker及传统部署方法均遇到了websocker断开情况，http和ws情况下没遇到这个问题，但是一旦我加上https和wss的情况下就会出现websocket断开情况，并且查询不到数据库表的内容。
最终解决办法：修改/opt/omnidb-server/OmniDB_app/static/OmniDB_app/js/WebSocketControl.js这个js文件的47行，去掉里面的+ ':' + v_port
修改前：var v_connection = new WebSocket(p_address + ':' + v_port + v_url_folder + '/' + p_channel);
修改后：var v_connection = new WebSocket(p_address + v_url_folder + '/' + p_chann

[2019-12-21 22:04] kendrycorvuslab opened #1091 "Version 32 bits please?"
Greetings to all, could someone please help me with the 32-bit omnidb version for windows?

[2019-12-22 15:12] kobaz commented on #1072
I am completely unable to use omni at all. Omni does not start because it is scanning for ports.

[2019-12-22 15:14] kobaz commented on #1072
Tried upgrading to 2.17.0.  Same problem persists.

[2019-12-22 15:20] rafaelthca commented on #1072
Hi,

Can you give more details about your environment?

- OS version
- how did you install omnidb? What package did you use?
- how are you starting omnidb? Which OS user are you using?

[2019-12-22 15:23] kobaz opened #1092 "Hotkey for run query/refresh"
Most other interfaces use the F5 key to reload/refresh or execute the current query in the sql window.

It would be very very useful to be able to hit a hotkey to refresh rather than clicking the play button every time to execute a query in a query window.

[2019-12-22 15:32] kobaz commented on #1072
Debian Buster

Install:
cd /tmp
wget https://omnidb.org/dist/2.17.0/omnidb-app_2.17.0-debian-amd64.deb
dpkg -i omnidb-app_2.17.0-debian-amd64.deb

Starting omnidb:
$ omnidb-app

![GIFrecord_2019-12-22_103124](https://user-images.githubusercontent.com/1695852/71323899-55bf6880-24a6-11ea-85cc-7707ef27612a.gif)

[2019-12-22 15:34] kobaz commented on #1072
Also after a few seconds, the scrollbar does not respond in the log window during starting.

You can see I can drag the scroll for a little bit, and then it stops scrolling
I can however use the mouse wheel to scroll.   But towards the end when the mouse moves around on the scroll bar on the right side, that's me trying to drag it and it's not moving.  Also trying to hit the up/down buttons on the

[2019-12-23 10:53] liudaac opened #1093 "Is the websocket function necessary? And if not how can I close it?"

[2019-12-23 12:55] wind39 commented on #1092
Hi @kobaz ,

Please check the Shortcuts in your user Settings. Default shortcut to run the current query on the query window is Ctrl-q on Linux/Windows or Meta-q on Mac. F5 is browser default to refresh the entire webpage.

Best regards,

William

[2019-12-23 12:55] #1092 closed

[2019-12-23 14:01] rafaelthca commented on #1072
Thanks for the details. I'm leaning towards the idea that your system user (kobaz) doesn't have permission to bind to a port on localhost. This is the part of the code that checks for it:

[code]

Do you have python 3 installed? If so, if you could try binding to a random port and sharing with us the exception being generated.

If you are unable to perform the test let me know that I will prepare

[2019-12-23 16:47] skjbulcher commented on #1062
Just wanted to add a note - this ruins the usefulness and power of snippets for us. Variables make snippets flexible and powerful and reduce errors during use, since all of the flexibility comes from documenting the parts of the query to adjust through variables.

[2019-12-23 19:47] wind39 commented on #1062
Hi @skjbulcher ,

Thanks for getting in touch with us.

Would the query work if you uncheck Autocommit on the Query Tab?

Regards,

William

[2019-12-23 20:24] skjbulcher commented on #1062
I can't tell; there is no autocommit option. Looking back at [release 2.13.0](https://github.com/OmniDB/OmniDB/releases/tag/2.13.0), it looks like autocommit is "always enabled" for MariaDB (and others).

[2019-12-23 20:27] wind39 commented on #1062
Hi @skjbulcher , thanks for confirming.

@rafaelthca , let's please re-evaluate priority of implementing Autocommit option for all RDBMS.

Regards,

William

[2019-12-23 20:32] skjbulcher commented on #1062
Would it make sense to wrap Query Tabs queries in a transaction before sending them to the database? What would the implications of that be?

[2019-12-24 07:55] liudaac opened #1094 "Alt Column"
When I Alt A column as columnA From varchar(number1) to varchar(number2), two columnA appears in the table tree

[2019-12-24 12:09] wind39 commented on #1094
Hi @liudaac ,

Please provide more details about the issue you are seeing.

- What is the OmniDB version?
- What is the OmniDB flavor (app or server)?
- What is the operating system version?
- Exact steps to reproduce the issue, i.e., DDL to create the table, then DDL to change the column type;
- A screenshot showing the issue in the tree view would also help.

Best regards,

William

[2019-12-27 09:53] rameshpuruganti opened #1095 "Not able to connect Oracle Database"
I am trying to connect oracle database through omni db but i am facing issue in connection string.
The error is "Syntax error in the connection string."

Syntax: oracle://test@test.domain.com:1521

Please help me in setting up oracle database connection in omnidb.
Thanks

[2020-01-02 10:04] 1725785880 opened #1096 "Depend on external JS"
Please remove the external dependent JS to ensure I can use it in the internal network.Thank you!

https://cdn.optitc.com/serve?url=default&z0=WyIiLDE1MzYsODY0LDE1MzYsNzYzLCIiLDI0LDAsMCwicGRmLGNvb2tpZSIsIiIsImh0dHA6Ly8xOTIuMTY4LjQzLjEwOjgwMDAvd29ya3NwYWNlLyIsOCwiVVRGLTgiLCJlbi1VUyIsMTU3Nzk1OTMzMDI1NSwiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZ

[2020-01-02 13:51] thiago-mattos commented on #1091
Bom dia, também estou passando pelo mesmo problema.

[2020-01-02 16:00] rafaelthca commented on #1096
Hi,

Can you provide a screenshot showing the browser attempting to fetch that JS? That shouldn't happen as all required JS files are bundled with OmniDB.

[2020-01-06 03:29] kobaz commented on #1072
netstat -tulpn

`Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:465             0.0.0.0:*               LISTEN      -
tcp        0      0 0.0.0.0:8084            0.0.0.0:*               LISTEN      -
tcp        0      0 0.0.0.0:5269            0.0.0.0:*               LISTEN      -
tcp        0      0 0.0.0.0:22

[2020-01-06 03:33] kobaz commented on #1072
Python3 is installed.  The previous-previous version (2.15) was working just fine before.

It's not a permission problem.  I have no issues binding ports and my other apps have no issues binding ports.

markm {~} kobaz$ nc -l -p 8000
^C

markm {~} kobaz$ nc -u -l -p 8000
^C

[2020-01-06 03:37] kobaz commented on #1072
There's something else going on I'm sure.  I'm not much of a python coder, but I found this sample which executes with no issue

----------------------------
import socket
import sys

HOST = ''
PORT = 5555

s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)

try:
    s.bind((HOST, PORT))

except socket.error as msg:
    print('Bind failed. Error Code : ' + str(msg[0]) + ' Message ' + msg[1])

[2020-01-06 09:32] jagobrown commented on #480
Thanks William for increasing priority.  I mentioned this and a few other things to  Gianni Ciolli at a recent course
Jago

[2020-01-08 07:13] kobaz commented on #1072
Would any of you guys have time to do a screen share and figure out this issue?

Really looking forward to using omnidb again!

[2020-01-08 07:46] cschwaderer opened #1098 "OmniDB 2.17 server falsely assumes its previous port is busy"
I recently updated from OmniDB server 2.16 to 2.17 and now I'm encountering a strange phenomenon:
When I first art OmniDB server with the `-p 32440` option, everything seems fine.
However, when I kill OmniDB, and restart it the same way it complains that the port is occupied:

That is strange because both before and after starting OmniDB server, I cannot find any process running on port 32440.

`l

[2020-01-08 13:53] rafaelthca commented on #1072
Hi,

We are going to prepare a custom package with some additional log lines to print the exception OmniDB is encountering when attempting to bind the ports.

[2020-01-08 15:00] wind39 commented on #1072
Hi @kobaz ,

I added the verbosity that Rafael mentioned and compiled a new package for your architecture. Please download and install from here:

http://omnidb.org/dist/tmp/omnidb-app_2.17.0-debian-amd64.deb

MD5: e9923d4fe5865e6cdc00bc6ba65a5de3

The idea is that OmniDB will also print the Exception that was raised when it is not able to bind a port.

Regards,

William

[2020-01-13 13:31] thiago-mattos opened #1100 "Problema ao inicializar o OmniDB, fica parado na tela "Starting OmniDB""
Bom dia, estava utilizando o OmniDB normalmente na minha máquina, porém agora ao abrir ele ficar parado na tela "Starting OmniDB", conforme PrintScreen em anexo .

Estou utilizando a  v2.17.0 do programa, no Windows 7 Ultimate 64 bits Service Pack 1;
![omnidb](https://user-images.githubusercontent.com/13092414/72259656-c3ffd280-35ef-11ea-9297-b72cd685546e.png)

[2020-01-13 17:53] kobaz commented on #1072
Getting:

Errno 99 -- Cannot assign requested address

[2020-01-13 17:59] kobaz commented on #1072
Found the problem!

My localhost interface is not up.  I did a (somewhat) recent kernel upgrade and when I boot up 'lo' is not up.

ifconfig lo 127.0.0.1 up

Omni is now working.  This is something you could add for error-checking if someone else runs into this.  I'm sure it's rare, but it's very mysterious to just see the errors being unable to assign request address over and over and over.

A qu

[2020-01-16 15:24] tiagofrancafernandes opened #1101 "Export SQL Interface"
Hi,
rencentely I was nedd to export a single table of my database, but I receive a wrong because my cli-dump (pg_dump) is nto same version of my server. I have been using Ominidb for a long time, but I really think it would be useful to have an export interface.

[2020-01-16 15:30] tiagofrancafernandes commented on #1100
Tentou executar pelo server e abrir no navegador direto?

[2020-01-16 20:20] thiago-mattos commented on #1100
Desculpe a ignorância, mas como eu executo pelo server ?

[2020-01-23 07:25] mnikhil-git opened #1103 "No response from query server"
Hi,

I am trying omnidb for the first time.

Debian version: 2.17.0 for Ubuntu 16.04 xenial

I am able to navigate around the (RDS) postgres connection on the tree browser pane including listing the tables successfully in a given schema but when I select a table and try to query the data, the console times out saying there is no response from query server.

I am using vanilla omnidb.conf and also

[2020-01-24 03:12] phasath commented on #203
We're on 2020 and we still don't have this feature =/ Sadly

[2020-01-25 21:50] tiagofrancafernandes commented on #1100
Não esquenta. Como vc usa o windows, tirei o print baseado nisso.
Fazendo como no print, vc vai baixar o server, que na verdade vai fazer quase o mesmo que o app, mas com a vantagem de vc poder ter várias conexões ao mesmo tempo, abas, e tal.

![image](https://user-images.githubusercontent.com/8310974/73127707-477fd300-3fa3-11ea-9689-ea19a9ecec2a.png)

[2020-01-25 21:56] #1101 closed

[2020-01-28 06:50] omaximenco commented on #907
Not sure what was fixed, but the problem is still there (v2.17.0):
function to_char(boolean, unknown) does not exist
PK is a date field + a varchar field.

[2020-01-28 13:11] df7cb commented on #907
That's indeed still broken even in 2.17.0. The `start =` part is still inside to_char().
[code]

[2020-01-30 18:29] ormenese opened #1104 "Omnidb_plugin para CentOS 8 e Postgresql 12"
Alguma previsão de liberação do pacote (RMP) para instalação do omindb_pluig em CentOS 8 ?

O PostgreSQL 12 já é suportado ?

[2020-02-17 18:05] thjack opened #1106 "DDL improvements"
The view should show what roles a user has and for a role that members have

when a trigger is added that depends on a field it does not show the field on the trigger

Example:
If we add this trigger:
CREATE TRIGGER area
   BEFORE INSERT OR UPDATE OF the_geom
   ON public.cat_manzana
   FOR EACH ROW
   EXECUTE PROCEDURE st_bi_area ()

Then when the trigger DDL is consulted it shows

CREATE TRIGGER

[2020-02-17 18:52] alvherre commented on #1106
Thanks for reporting.  Note that the `OF the_geom` clause is for indicating columns (not users/roles). So the intention of this command is that the function st_bi_area will be executed if the update affects column the_geom, and will not be executed if it only affects other columns.   I agree that OmniDB should show the `OF` clause.

[2020-02-17 23:35] daniel-santos opened #1107 "Add Gentoo ebuild"
Hello.  While I realize that this isn't a Gentoo overlay repo, I cannot find any Gentoo ebuild for omnidb on the internet!  Even though the CONTRIBUTING.md guide claims that Gentoo is used for testing.  At the very least, could you attach it to this issue?  At best, toss one into the repo somewhere, at least as a reference ebuild.

Of course, the EAPI will continue to evolve, but at least it can g

[2020-02-18 06:42] #1096 closed

[2020-02-18 09:29] wind39 commented on #1107
Hi @daniel-santos ,

I'm sorry, but Gentoo is not used for testing and `CONTRIBUTING.md` does not claim that. The `CONTRIBUTING.md` file states that we plan to deploy to Gentoo, but it takes time.

We plan to support Gentoo in the future, although having a Gentoo user as contributor would really help.

Are you able to install OmniDB from sources on your Gentoo installation? Please let me know if t

[2020-02-18 09:31] wind39 commented on #1106
Hi @thjack ,

Thanks for reporting, we are going to fix both issues.

Best regards,

William

[2020-02-19 08:36] lfavero commented on #98
Hi all,
have you news about Ldap integration ?
Thanks
Luigi Favero

[2020-02-19 17:23] gbataille opened #1108 "Command+Q does not quit the app on Mac"
On MacOS, it is standard that `Command+Q` exits the application.
Actually, in the app menu, this is the shortcut that is indicated on the `Quit` action
(see https://github.com/OmniDB/OmniDB/blob/c7399dabd4f945951f6258819333114ffcb16d32/omnidb_app/main.js#L18)

But `Command+Q` is intercepted to run the query which is very confusing, and impractical since it means I cannot quit the app with my keybo

[2020-02-20 13:05] felipebiox commented on #1108
Greetings @gbataille, thank you for reaching out.

There's a shortcuts customization panel on the top-right corner. There you can re-assign shortcuts, including the query, so that it won't conflict with your OS shortcuts preferences.

![changing-shortcuts](https://user-images.githubusercontent.com/11302800/74936191-759cdb00-53c8-11ea-93f1-96ced61e0731.png)

Regards,
Felipe

[2020-02-20 14:57] martinmurciego commented on #203
It is a great tool, we begin to use and ask you to save the password in the connections, or else please show us how to implement that change for our production version.

[2020-02-20 17:39] felipebiox commented on #203
Hi everyone,

First of all, thank you for the patience. This is one of those features that, as awesome as it is, it wasn't prioritized in earlier versions. The roadmap has many other cool features in line, along with critical implementations that need immediate attention.

As stated in #1067 we are closing gaps and plan to reintroduce scheduled releases every 2 months to get back on track.

Rest a

[2020-02-23 22:13] Msojdehei opened #1109 "how to limit functionalities on the UI - how to hide them"
is there a way to hide some of the functionalities on the UI from users, hide them altogether?  to customize the UI?

[2020-02-24 14:14] devtomk commented on #1067
I am using OmniDB during SQL trainings to provide the students with a "no-setup" database access. As the workspace is specific to each OmniDB user, I typically create one OmniDB user for each student.

It would be nice if the connections could be de-coupled from the user accounts to make this process easier.

I would like to have some "global" connection definitions (to the training databases) and

[2020-02-26 18:44] ahmadqayyum opened #1110 "Read Connection Details From a File"
Hi,

I don't want to insert server,port, database and user in the new connection, is there a way that omnidb read all this info from file, like it read the password from .pgpass file.

Thanks,

[2020-02-27 22:09] rwadstein commented on #693
I have seen the same problem.  I am using v2.17.0
Lots of our DB's have a `users` table.  And they all keep showing extra columns that don't exist and duplicated columns.
`uid`, `USER`, `CURRENT_CONNECTIONS`, `terms_and_conditions_accepted`, `TOTAL_CONNECTIONS`

[2020-03-01 14:29] gbataille commented on #1108
oh god, I feel a bit stupid.
Had not found it.

I still think that Command+Q on mac is a very bad default, many people would be tricked.
But at least if you can change it you can make it usable.

Cool thanks

[2020-03-05 10:56] CkNoSFeRaTU commented on #1107
I made some ebuilds for OmniDB for myself a while back. I updated and pushed them to this overlay:
https://github.com/CkNoSFeRaTU/omnidb-overlay

There are some notes though:
 - Tested only with PostgreSQL
 - Some versions of dependencies are a bit relaxed because gentoo's main repository doesn't contain freshest versions and I didn't encounter any problems with a bit older versions.
 - There are

[2020-03-05 11:17] CkNoSFeRaTU commented on #1098
That happens when there were active client connections to server during restart. OS is still waiting some time for finalizing these connections even after server is terminated and disallow binding to this port. To allow binding to the same port in this timeframe SO_REUSEADDR on socket must be used.

Look at this custom patch https://github.com/CkNoSFeRaTU/omnidb-overlay/blob/master/dev-db/OmniDB/f

[2020-03-06 14:03] everneret opened #1112 "OmniDB Server - Performance issues when used by 30-50 people"
Hi,

As a growing team using a single OmniDB server instance to query all our Postgres servers, we're undergoing outages more & more frequently.

We have the OmniDB server app (v2.16) hosted in a VM with 6 vCPU and 16G RAM. This seems like way enough, however we're getting app outages and CPU bursts at least once a week. I reckon our developers don't always write perfect queries, but still...

I'm

[2020-03-06 14:25] felipebiox commented on #1112
Hello @everneret ,

Thank you for bringing this up, we were not aware of this scenario that you are facing and this is critical. I'm speaking on behalf of Rafael and William as well, while as we speak, we are already discussing about how to properly approach this matter and reproduce your scenario as accurate as possible.

We will get back to this issue later today with everything that we assume t

[2020-03-06 14:30] everneret commented on #1112
Thanks for your response. Hope we can work this through :)

Edouard.

[2020-03-06 15:35] felipebiox commented on #1112
Hi again @everneret  ,

Before the wall of questions, I just wanted to clarify to you that the reason behind the level of detail is because [we are working very hard on OmniDB](https://github.com/OmniDB/OmniDB/issues/1067), and with the upcoming v3.0 we aim to concurrently improve both on performance as well as UI/UX, and we feel this needs to be tracked and could result in fix there. Soon we will

[2020-03-06 16:26] rafaelthca commented on #1112
Hi @everneret,

You mentioned using 2.16, right? 2.17 (latest version) contains 2 important bug fixes that can cause 100% of CPU usage in omnidb related processes. Here are the fixes:

- Server ping causing peaks of false positives in moments of brief network interruption or idle activities, or when the notebook running OmniDB was put to sleep.
- High CPU usage when SSH console is being used and t

[2020-03-07 21:42] TrevorDBrown opened #1113 "Python Version Check?"
I experienced an issue during installation that would make omnidb-server appear as if it started, but, in fact, would not. I discovered the issue was due to my python command pointing to my 2.7 installation instead of 3.6. I ran the solution proposed [here](https://unix.stackexchange.com/questions/410579/change-the-python3-default-version-in-ubuntu), to make python run my 3.6 installation. This re

[2020-03-11 15:56] everneret commented on #1067
Hi there, great news!

I'd love to see more CLI-based administration, that would allow an admin to script more actions on users : first thing that comes to my mind is adding a new connection to all users at once.

I've also been working on a PR that would allow to pass an alias (connection name) when creating a connection, so that my users get friendly, business-related names for the connections I

[2020-03-11 15:58] everneret commented on #1112
Hi guys,

@felipebiox : I'll email you my answers before the end of the week.

@rafaelthca : not sure we are concerned by those two cases, but will definitely upgrade to 2.17.

Thanks!

[2020-03-15 22:09] mohammadva commented on #473
I have a same issue:

OS: CentOS 7.6
DB: Oracle 18c XE
OMNIDB: 2.17.0

[root@myserver opt]# cp /opt/oracle/product/18c/dbhomeXE/lib/libclntsh.so* /opt/omnidb-server/

[root@myserver opt]# echo $LD_LIBRARY_PATH
/opt/oracle/product/18c/dbhomeXE/lib:/lib:/usr/lib

![image](https://user-images.githubusercontent.com/19368703/76711566-8f5ee300-6726-11ea-9a64-10687fb6e87e.png)

[2020-03-19 15:59] Zincr0 opened #1114 "OmniDB cannot connect to mysql if password has non ASCII characters"
Tested on mysql 8.0.19 with mysql_native_password disabled.

Steps to replicate the bug:
- Create a mysql 8 server with default settings.
- Create an User with a password with non ASCII characters like "Thísísatést"
- Create a database and add permissions to the user
- Create a mysql connection with no ssh tunnel
- In OmniDB, try to open the database

Expected result:
- Omnidb should connect

Actu

[2020-03-19 22:20] wind39 commented on #1114
Hi @Zincr0 ,

Thanks for the detailed steps to reproduce. We are working on fixing this and will let you know on the progress here.

Regards,

William

[2020-03-26 06:39] iWangJiaxiang commented on #729
Hi, I got the same issue in my k8s env.

I am using nginx-ingress as well. Arrange a WS port is complex for me.

I suggest moving WS port to http port, by adding an internal proxy that could proxy `/ws` path to localhost WS port

What do you see

[2020-03-27 07:03] ericbig66 opened #1116 "cannot find triggers in mariadb"
cannot find any entry to edit or view trigger while using mariadb connections

[2020-03-27 09:36] square-root3 opened #1117 "Red "offline" on the upper right corner"
I installed onmidb2.6 on Windows 7 and accessed it by chrome browser on some other computers. Some visits are normal. Some of them have some problems: I can log in by browser, but after logging in, the a red "offline" icon appears on the upper right corner, and it's no response after clicking “Connections” on the upper left corner. Plz help me.
![B6639C5F-7654-47DA-8284-64B3AD2917EC](https://user-

[2020-03-27 16:32] hadimsaad commented on #905
Thats very true
we are testig omniDB so we can have our developers access multiple dbs and do the sql work on the web interface.

the main purpose we used omnidb was to save time and effort whitelabeling and sharing vpn access to all of our developers along with mysql credentials for each DB.

So the functionality we dream of, is to be able to connect to multiple dbs, passwords stored in config fi

[2020-03-28 12:40] wind39 opened #1118 "Error when clicking on User Mapping"
![image](https://user-images.githubusercontent.com/7719686/77823214-140f1100-70d8-11ea-98d1-5dde486ebc7d.png)

[2020-03-29 19:29] kobaz commented on #1072
TODO: Ensure 'lo' interface is available before trying to open a port.

[2020-03-29 19:31] kobaz commented on #1106
Also.

Clicking on a column does not show the column DDL.

![image](https://user-images.githubusercontent.com/1695852/77858554-4dc44280-71d2-11ea-832d-09565a951e0c.png)

[2020-03-29 19:32] kobaz opened #1119 "Insert row should automatically use default values for table unless modified"
When inserting a new row using the data editor, the interface submits NULL values for fields that should be populated by the table defaults.

Datagrip has a good UI design for this and shows <default> for any items that are such, as shown here:

![image](https://user-images.githubusercontent.com/1695852/77858609-8bc16680-71d2-11ea-8987-9fcff93f973a.png)

[2020-03-31 20:46] felipebiox commented on #1112
Hey @everneret ,

Thank you for the details, we are analysing the scenario you described in the email, in the meanwhile, we've further progressed with OmniDB v3

Did you get to test with version 2.17?

We suggest this because it fixes performance issues that may be related to yours.

Best regards

[2020-04-01 10:12] n1trux commented on #905
Connection string method doesn't seem to work either. I tried the following connection string:

    mysql://root:rootpass@mariadb:3306/salesdb

OmniDB still asks for the password. It works with PostgreSQL…

[2020-04-07 11:35] guschinaglia commented on #1067
Hello Guys,
How are the currently development ? I'm asking because we are thinking to use OmniDB. Do the development still continues ?

Also, how can we contribute since there is no branch for the newer version ?

Many thanks.

[2020-04-07 22:37] martinmurciego opened #1120 "How to programmatically create users and associate new connections?"
Good congratulations for this great tool that some additions would be the best: save connections password for omnidb user, api to create omnidb users and connections, editable database diagram.

If I'm concrete, I'm more interested at the moment if there is a way to run an api to **create omnidb users and associate existing or new connections**. Is there a way through some resource in the current

[2020-04-13 12:37] felipebiox commented on #1067
Hi @guschinaglia

Yes! Development is still alive. Glad to know you are looking forward.

We are currently working on several features. The main reason why there isn't a specified branch for this is because we are redesigning the whole thing and constantly refactoring based on how these changes feel.

News coming soon.

[2020-04-14 16:18] martinmurciego commented on #1120
For what I need, all I have to do is use the command line tool "omnidb-config-server" available, and by passing it the appropriate parameters I will surely be able to execute it with an ansible role.

[code]

[2020-04-14 16:21] #1120 closed

[2020-04-14 17:55] jdelramirez commented on #809
Hello, how is going this bug ? I recently installed the latest Omnidb and still this error and in Oracle when i query a table with accents, the table shows bad characters.

Very thanks and keep up the good work !!!

[2020-04-15 09:12] jdelramirez commented on #604
when trying to export a result and more than one  query in the console, the export cant export the data,

ORA-00933: SQL command not properly ended

I think omnidb is launching again the query but it detects two and make an error, why didnt export the actual result when you launch a query??

Thanks

[2020-04-15 09:14] jdelramirez commented on #694
How is going this, still getting the same bug,
thanks!

[2020-04-15 11:07] lennyluosz commented on #525
Thanks a lot

[2020-04-15 11:53] rla3rd opened #1121 "make the messages tab copyable to the clipboard"
I used to use raise notice in pgadmin3 to generate messages to debug queries that had issues.  I could just copy then paste the offending query to the query window, then debug.  I currently cant do that with omnidb because i cant select the text in the messages tab and copy it to the clipboard.

[2020-04-15 21:41] javc1974 opened #1122 "Users who cannot create their own connections"
Hello! Congratulations for your software. It's really great.

I wish there was a possibility that users could not define their own connections. It would be very useful to use omniDB against production databases. It would be very reassuring for DBAs like me.

Thanks

[2020-04-16 07:33] javc1974 commented on #1122
Neither create nor modify. Users with read-only connections. That they could not in any way define a connection against a production database.

[2020-04-16 07:51] jdelramirez commented on #1122
It would be a great idea, could you implement it ? very thanks

[2020-04-17 04:17] memtech3 opened #1123 "Installing omnidb as an app inside a django site"
Is there a way to install omnidb as an app inside a django site? I am developing an open source ID badge solution (MIT licensed) and would like to include omnidb (and its licence) to allow users to easily manage their databases

librebadge.com

[2020-04-18 08:41] lizat opened #1124 "SQL: using Where throws an error"
I have a very simple SQL statement that throws this error:

syntax error at or near "WHERE"
LINE 6: WHERE t.name like '%sal%'

This must be really simple but I cannot see what on earth is wrong. the complete statement is:
SELECT t.id , t.name
FROM public.interests t
ORDER BY t.id
WHERE t.name like '%sal%'

I am using Omnidb 2.17

Thank you

[2020-04-19 03:23] memtech3 commented on #1123
@barthisrael

[2020-04-20 18:28] wind39 commented on #1124
Hi @lizat ,

Thanks for reaching out. The issue is with the order of the statements, `WHERE` is supposed to come before `ORDER BY`. So this would work:

[code]

Best regards,

William

[2020-04-23 12:15] VitBo opened #1125 "Wrong table columns in list if more than one table with the same names in diferent schemas (MySQL)"
I have 2 tables with the same name (ex. USERS) in two different databases (MySQL 5.5).
When I select second database (in tree in left section) and select its table (USERS) I see columns of the table with the same name of the other (first) database, and all operation (QUERY,...) is present with columns of first database. Bug or something misconfigured?
![OmniDB-MySQL-issue-1](https://user-images.gi

[2020-04-29 15:48] ccurvey opened #1126 "OmniDB suddenly reporting "Cannot connect to websocket server...""
not sure what changed, my guess is that it's something in one of the patches I just applied to my OS (and of course I have patched both my client and server today)

* omnidb 2.17 running in server mode at AWS
* local browser is Firefox 75.0 on Ubuntu 19.10 (fully patched)

Today I'm getting messages "Cannot connect to websocket server with ports 25482 (external) and 25482 (internal).  Trying again

[2020-05-04 14:02] schmidax commented on #98
Hi all,
is there anything new about the ldap topic?
I need it urgently.

[2020-05-05 08:04] jdelramirez commented on #1095
im getting the same problem, how the correct syntax would be ?? thanks..

[2020-05-05 08:11] jdelramirez opened #1127 "Oracle : Connect with connection string (tnsnames) ERROR"
Hello, how can i connect to an Oracle database using connection string ???

Im using the same format, found in this post but "Syntax error in connection string" https://github.com/OmniDB/OmniDB/issues/385

user/pwd@host:port/dbname

Some help please?

Gracias.

[2020-05-06 18:24] jdelramirez opened #1128 "Omnidb Service : ******ERROR******"
Hello there, when we launch omnidb-server as service and time happends, it produces an error and the process is aborted :

System : Red Hat Enterprise Linux Server release 7.6 (Maipo)

    SYSLOG_IDENTIFIER=bash
    _SYSTEMD_UNIT=omnidb.service
    _STREAM_ID=bcef94496fc647ffb731091af444ac36
    _PID=128935

MESSAGE=/usr/bin/omnidb-server: línea 3: 128938 Abortado                (`core' generado)

[2020-05-07 20:08] barthisrael opened #1129 "DDL tab duplicating index related to excludes"
If I add an exclude like the following one, Postgres will implicit create an index related to it:

`ALTER TABLE public.table
    ADD EXCLUDE USING gist (column_1 WITH =, TSRANGE(column_2, column_3, '[]'::text) WITH &&) WHERE (column_4 IS NOT NULL);`

The DDL panel of OmniDB for such table, besides showing the ADD CONSTRAINT command, is also showing the ADD INDEX command. Trying to execute such cod

[2020-05-08 01:14] bbotte opened #1130 "websocket_status_online is blue, websocket error"
when multiple people open multiple TAB cases，i met a troubles, version is 2.15.0,   websocket_status_online is blue,

[05/05/2020 06:28:13] ERROR [OmniDB_app.QueryServer:596] *** Exception ***
Traceback (most recent call last):
File "OmniDB/ws_core.py", line 593, in on_message
File "threading.py", line 846, in start
RuntimeError: can't start new thread
ERROR:tornado.application:Uncaught exception

[2020-05-08 06:36] pg-chaos opened #1131 "Uncaught TypeError: Cannot set property 'v_group_last_selected' of undefined"
when click connection，no response
have error ：
Uncaught TypeError: Cannot set property 'v_group_last_selected' of undefined

[2020-05-11 15:40] munntjlx opened #1133 "Mysql tls howto?"
I want to do a mysql tls connection using a specific CA trust. Any docs on how to do this?

[2020-05-11 22:50] ccurvey opened #1134 "cannot export result files (network error)"
Server is 2.17.0 running at AWS.
Client is Google Chrome 81.0.4044.138

I can connect to the server and run queries.

I can click the export button, and pick CSV or XLSX.  AFAICT, the correct file is generated on the server in /opt/omnidb-server/OmniDB_app/static/temp, and I'm presented with "The file is ready. Save."

When I click on "Save", i get the dialog for where I want to save the file.  Bu

[2020-05-13 10:52] peterpanmj commented on #727
Anyone working on it ?

[2020-05-19 00:49] JohnnySJKim commented on #1117
Me too. I encountered same problem. Could anybody help?

[2020-05-22 19:41] davicotico commented on #1100
Mesmo problema comigo na versão 2.16 e 2.17, Windows 7 Ultimate 64 bits Service Pack 1.

[2020-05-26 19:49] gt-novelt commented on #203
You can now enter connection string which kinda solves the issue.

I like neither the connection string nor the .pgpass solutions. I would rather have the password encrypted where I know it is safe. But at least it saves the burden of typing it over and over.

[2020-05-27 12:29] StephanZaat commented on #787
Hi @rafaelthca
I also just ran into this and found it lacking in the documentation. Found the fix myself before checking here, but it might be useful to add a small note. Especially since the proxy often handles the TLS part and passes it unencrypted to the underlaying service.
Thanks!
Stephan

[2020-05-28 08:50] 17601331993 opened #1135 "mysql Slow query"
In some special tables, the execution speed is very slow when querying MySQL statements; I try to use cursors and limit the amount of data in the storage block, which causes the first query to be particularly fast, and subsequent queries to the current statement will cause gradual growth. Time increase, the longest will even reach about 180 seconds

[2020-05-28 08:50] 17601331993 commented on #1135
In some special tables, the execution speed is very slow when querying MySQL statements; I try to use cursors and limit the amount of data in the storage block, which causes the first query to be particularly fast, and subsequent queries to the current statement will cause gradual growth. Time increase, the longest will even reach about 180 seconds

[2020-05-31 12:50] heejit commented on #1067
when new version going to release

[2020-06-01 02:31] yaoyijieyyj commented on #1090
解决了吗，我也遇到了这个问题

[2020-06-01 03:18] yyyyyj45 opened #1136 "Why chrome have different warning with firefox do?"
Using the same omnidb.conf ,open program via both chrome and firefox,google will alert the warning 'cannot connect to websocket server with ports external and internal.Trying again in 2 seconds'.However,there wont be any warning via firefox.

Is this service not compatiable to chrome or my chrome version is too old?
ps. chrome version: 79.0.3945.88

[2020-06-01 06:34] LongTaiJun commented on #1090
我上面不都写出来解决办法了~

[2020-06-01 07:07] chianglee opened #1137 "How to change sqlite to mysql ?"
hi，How to change sqlite to mysql ?
because our project USES mysql to manage user rights and so on

[2020-06-01 10:35] guarniello opened #1138 "Debugger Plugin for PostgreSQL on Windows"
Hi how do i get omnidb_plugin for PostgreSQL 11 or 12 on windows?
DLL seems to be missing from omnidb-plugin_2.17.0-windows-amd64.zip.

Thanks,

[2020-06-02 17:35] felipebiox commented on #783
Duplicate of #824

[2020-06-02 18:09] #783 closed

[2020-06-02 18:48] #1124 closed

[2020-06-02 19:11] felipebiox commented on #1109
Hi @Msojdehei ,

At this moment the UI is fixed as provided, allowing only resizing in some cases.

On OmniDB v3 we are bringing more flexibility to the user on controlling the visibility state of quite a few UI elements, allowing him to show/hide them as well as resizing them.

This is a per-user approach based on interaction, and not a global configuration that hides them for all users.

[2020-06-02 19:58] felipebiox commented on #1058
Hi @mariusa ,

Thank you for the great suggestion.
The new UI is bringing the snippet interface to a global panel easily accessible from any tab.

It's coming with v3, currently a WIP.

Best regards

[2020-06-03 22:08] kimballjohnson opened #1139 "Missing basics"
I Read your docs.
So does the omnidb-server allow access from another system over http?
Or is it only designed to be viewed from the system where it is installed?
What configuration is implied by websockets?
How can I diagnose the system's configuration to enable access to the omnidb-server from a remote system on the same network?
Does omnidb require an http service on the system where it is inst

[2020-06-03 23:15] kimballjohnson opened #1140 "remove omnidb-server from ubuntu"
After downloading the omnidb-server_2.17... and installing it manually in a gnome gui, I received the following errors when installing postgresql-12:

Selecting previously unselected package omnidb-common.
Preparing to unpack .../26-omnidb-common_2.17.0+ds-1.pgdg18.04+1_all.deb ...
Unpacking omnidb-common (2.17.0+ds-1.pgdg18.04+1) ...
dpkg: error processing archive /tmp/apt-dpkg-install-0nlnrI/26-

[2020-06-04 02:45] ChrisLee1023 commented on #1070
Hi @ rafaelthca,
I also had a problem with webSocket disconnecting when the CPU was 100% and needed to restart the service to reconnect, but since I was new to Python, I haven't found a solution yet
The omnIDB version is 2.17.0
Do you have any Suggestions?

[2020-06-04 02:49] ChrisLee1023 commented on #1070
@rafaelthca
I also had a problem with webSocket disconnecting when the CPU was 100% and needed to restart the service to reconnect, but since I was new to Python, I haven't found a solution yet
The omnIDB version is 2.17.0
Do you have any Suggestions?

[2020-06-04 08:02] 17601331993 commented on #1135
在某些特殊表中，查询MySQL语句时执行速度非常慢； 我尝试使用游标并限制存储块中的数据量，这将导致第一个查询特别快，而对当前语句的后续查询将导致逐渐增长。 时间增加，最长甚至会达到180秒左右，甚至更长

[2020-06-04 08:16] 17601331993 commented on #1135
如果可以，请版主回复一下，还有一个关于websocket的问题，连接后，使用时会造成cup过高或者直接断链问题，需要重启整个项目才可以继续使用

[2020-06-04 16:52] aifazk opened #1141 "how to connect and execute SQL against Omnidb pod running on Kubernetes"
Hi
Is anybody knows,how to connect and execute SQL against Omnidb pod running on Kubernetes.
just need simple kubectl commands sample to connect and execute SQL queries and check database tables data.

[2020-06-14 18:24] Armen138 commented on #1125
seeing the same issue, it looks like the users tables show fields from both (so common fields are doubled up, and non-existing fields from one appear in the other).
Am running omnidb from a docker container (taivokasper/omnidb:latest)

[2020-06-17 17:10] phil-pwb commented on #727
(upvote!)

[2020-06-18 10:03] yash-grappus commented on #714
Hey guys - quick follow up - is this still on the agenda?
also need to import data from a csv file.

[2020-06-22 12:02] marcofavale commented on #1100
same problem on windows 10 version 2004 (built  19041.330) before the windows update omniDB was working properly.

[2020-06-23 15:37] Niremizov commented on #714
+1

[2020-06-26 05:11] ksummersill2 commented on #1095
Same here. This tool would be great if I can actually test it lol.

[2020-06-26 18:34] ksummersill2 commented on #932
I am having the same issue. Was this resolved?

[2020-06-29 11:04] pgaro commented on #932
What does "the same" issue mean? Are you referring to the first screenshot?

[2020-06-29 15:57] pgaro commented on #1139
I'm not sure what is lacking in the docs in particular. Can be a bit more elaborate what's missing [here](https://omnidb.org/en/documentation-en/19-deploying-omnidb-server)?

I don't feel like OmniDB should have a general guideline about how to debug networking issues, unless they are really related to OmniDB itself. And I can't think about one.

pgaro

[2020-07-02 15:02] maheshvasu opened #1143 "How can an admin user see command history of all the other users"
Is there any option for an  admin ( super user ) to see the history of commands executed by "other users "  through the web client OR through any back end log files in the installation directory ? I want to track all the command executed by ALL the users

[2020-07-08 02:35] pilayar76 commented on #719
Thank you

[2020-07-08 02:35] #719 closed

[2020-07-13 06:28] mushfek opened #1145 "Oracle "Syntax error in the connection string""
Hi,

I'm getting syntax error in the connection string in this format:

jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=<host>)(PORT=<port>)))(CONNECT_DATA=(SERVICE_NAME=<service>)))

What format does OmniDB uses. Also how can I specify service if I'm not using the connection string? I don't see any option. I'm running 2.17.0.

[2020-07-13 09:17] Mr-Senven opened #1146 "mysql password"
I do not want to enter the mysql password everytime when I want to connect my mysql sever. how to save the password ?

[2020-07-15 09:04] lajith111 commented on #1067
Any updates on new release?

[2020-07-19 14:48] flufy3d commented on #881
I have the same issue :(

[2020-07-20 10:39] h5rdly opened #1147 "pip install from pypi"
Hi,

First of all, cheers. This seems like a great tool, it should get more traction.

I was wondering - It seems you can clone and `pip install` from `requirements.txt`.

Would it be feasible to make it into a proper package? This makes deploying it much easier, among another benefits.

Thanks,
Eli

[2020-07-22 12:37] MaximKraev opened #1148 "Heartbeat to keep websocket connection open"
I have OmniDB running behind a proxy, and WebSocket connection is interrupted by inactivity timeout on proxy, is there a way to have Heartbeat (ping/pong messages) between client and server to keep the connection alive?

thank you.

[2020-07-22 15:01] denisgigli commented on #98
Good day folks!

Any updates, or plans for this feature?

thought it was on the roadmap.

[2020-08-04 09:23] awsompankaj opened #1149 "Is there any way to configure websocket URL"
Hi,

can we configure URL for websocket URL i.e domain.com/ws instesd of domain.com:25482/ws from the configuration not from the revers proxy.

[2020-08-04 21:52] drewdle commented on #203
I'm trying to configure omnidb with .pgpass file and SSH tunnel. It seems no matter where I put the .pgpass file, omnidb doesn't see it. It's set with permissions of 600.
I do get it to work with connection strings, but it has trouble with any non-alpha characters in the password.
Thanks, Andy

[2020-08-05 17:07] awsompankaj commented on #1149
we have fixed using reverse proxy some how hence closing it.

[2020-08-05 17:07] #1149 closed

[2020-08-05 17:07] awsompankaj commented on #1149
we have fixed using reverse proxy some how hence closing it.

[2020-08-07 06:35] gimhana888 opened #1150 "How to access user details related to OmniDB from backend when doing a migration"
I am using OmniDB version 2.16 , I need to migrate the current OmniDB to another server.
The issues I have are;

How to query the user details from backend (what is the DB that should be checked to get user details?)
How to do the migration? (I copied the OmniDB-master directory to the new server and installed again on the new server but I couldn't find any way to get the old user details to the n

[2020-08-10 11:45] gimhana888 commented on #1150
Any update on this

[2020-08-11 21:10] elegantcha0s opened #1151 "Login page doesn't let you log in with a newly created user (with omnidb-config-server) if you run omnidb-server as root."
If you run omnidb-server as root and later you create a user with 'omnidb-config-server -u user password', It doesn't let you login.

[2020-08-12 08:03] wind39 commented on #1151
Hi @elegantcha0s ,

`omnidb-config-server` should be executed as the same user as `omnidb-server`, otherwise it will use/create the `~/.omnidb/` directory under the user you executed `omnidb-config-server`.

Regards,

William

[2020-08-12 16:32] elegantcha0s commented on #1151
@wind39
Thanks for your reply,
There Is a Docker Image here: https://hub.docker.com/r/taivokasper/omnidb/
However, Id doesn't seem to have support for command execution or omnidb-config-server.

Thanks for your help.

[2020-08-12 16:32] #1151 closed

[2020-08-13 14:43] Leonardofreua opened #1152 "Unstructured layout when starting"
Sometimes when I open OmniDB, the screen is unconfigured, but specifically on the editor side, as shown in the image.

I didn't notice any pattern, sometimes it happens and sometimes it doesn't.

![screenshot](https://user-images.githubusercontent.com/11354911/90148806-283b6e00-dd5a-11ea-8a8e-b4e1dd08039e.png)

[2020-08-13 17:52] felipebiox commented on #1152
Hi @Leonardofreua ,

Is this the browser version? If so, could you tell me which browser/version are you using?

If you may try, does moving the horizontal/vertical resize dashed lines fix the screen?

Best regards

[2020-08-13 18:14] Leonardofreua commented on #1152
No, I installed the OmniDB on my machine. Below the version I'm using:

![image](https://user-images.githubusercontent.com/11354911/90170964-2a5ff580-dd77-11ea-88b6-1c103a5fdf83.png)

[2020-08-13 18:29] felipebiox commented on #1152
I see, still, if you have the time and this happens again, please attempt to use the resizing lines just to see if they fix the screen. Just drag the line a bit and see if all elements fit correctly after dropping the drag.

Since I couldnt reproduce this here, I'm interested in checking if the resize methods still work when you fall into this situation.

All resizing methods have been reworked on

[2020-08-14 16:59] Leonardofreua commented on #1152
Ok, I will try to do some test when it happens again, it is a rare way to happen, but I will do it as soon as it happens and I open a new Issue with the new information. I will try to update to version 2.17 as well.

Thanks for your attention.

*Looking forward to version 3.x*

[2020-08-15 10:08] haizpti commented on #1145
I got same the issue, but I don't know how to fix, may be I will down other version. I see 2.15 not require connection string in document picture. Hope it work :( .
Terrible feeling

[2020-08-18 15:35] acflach commented on #1100
Hi!

I have the same problem here.  Windows 10 Pro 64 bits version 2004 (10.0.19041) built 19041.450.

**The omnidb-server.exe does not work too.**

The Windows Log does not help, nothing appears . . .

Thanks

[2020-08-20 13:38] tcolo commented on #1067
Is there an Update? I would like to know which Ui framework is used because i'm interested on making patches or addons.

[2020-08-21 14:01] ccurvey opened #1153 "completely reset sqlite database?"
I forgot my password(s), and now I'm completely locked out of my omnidb server.

I tried to reset the entire database with

[code]

but admin/admin does not let me login. ("Invalid username or password")

I tried

[code]

and ccurvey/bigsecret also gives me "Invalid username or password"

I tried deleting and recreating ~/.omnidb/omnidb-server/omnidb.db.  (I can use sqlite3 to look in there and I

[2020-08-23 23:51] luss commented on #1153
OmniDB is likely so information in a configuration directory that doesn't
get deleted when you remove it.  Perhaps it is storing some info in
~/.omnidb directory?

On Fri, Aug 21, 2020 at 7:01 AM Chris Curvey <notifications@github.com>
wrote:

[2020-08-24 00:24] ccurvey commented on #1153
Ah.  It seems that the sqlite database that gets used is stored in /root/.omnidb/omnidb-server

So maybe a few suggestions for the future

1. Let's not run the service as root.  That makes the security kittens in my brain scream in pain.
2. It would be nice if we could specify the location of the sqlite databases in the omnidb.conf file.
3  And it would also be nice if the server would say "I'm us

[2020-08-24 10:50] ccurvey commented on #1126
I think I found the root cause (and a workaround) for this.

The root cause is that my certificate is self-signed.

The workaround is

1. In FF, point your browser to the websocket port (e.g. https://example.com:25482)
2. This will bring up FF's normal "Danger Ahead!" page due to the self-signed cert.
3. Keep clicking the buttons to let you through to the site, ignoring the security warnings.

Thi

[2020-08-24 10:59] linci8210 opened #1154 "Regular Expression DoS vulnerabilities in OmniDB_app/static/OmniDB_app/lib/cytoscape/cytoscape.js"
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected a vulnerable regex from your code.
`/[/][*](\s|.)+?[*][/]/g`
in [link](https://github.com/OmniDB/OmniDB/blob/master/OmniDB/OmniDB_app/static/OmniDB_app/lib/cytoscape/cytoscape.js) line 25910 takes forever to match the string `"/*\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t

[2020-08-25 13:52] dmytrohusiev opened #1155 "SSL Cert expired"
![image](https://user-images.githubusercontent.com/42416388/91182857-6722d980-e6f3-11ea-91be-815ea7858f54.png)

[2020-08-31 06:31] aintitfun commented on #1067
I would love to know the continuity of the project, for me Omnidb is a great tool. Please, give more feedback!

By the way the main downloads page  throws a SEC_ERROR_EXPIRED_CERTIFICATE, just FYI

[2020-09-02 11:56] ccurvey opened #1156 "add signout-on-close option"
When running omnidb in server mode, I would like to be logged out when I close my browser.  (For double bonus points, I would like to be able to configure my session to expire after X minutes of non-use, but that might be a bridge too far.)

[2020-09-02 16:20] FGU1 opened #1157 "OmniDB generate errors in pgsql logs"
OmniDB 2.16.0
PostgreSQL 11.7 on Debian 10
When OmniDB is started, we can see lots of lines in postgresql logs :
"du: ... 'pg_xlog': No such file or directory" (translated)
I guess this is due to pgsql changing pg_xlog directory name to pg_wal.

Thanks for your work on OmniDB, very usefull for me !

[2020-09-11 13:58] heejit commented on #1067
Any update on new release?

[2020-09-14 19:19] ahmed-r-hashim opened #1159 "Proposing a new feature - saving a query"
Would it be possible to save the query as snippet by right-click and save? This would be a handy usability feature, especially for who dislikes using copy/paste the query content and back and forth between the tabs just to save the query into snippet tree, like me.
By the way, I love OmniDB and it has a big potentials.

[2020-09-24 12:26] ottojr opened #1160 "omnidb-app remains stuck at "Starting OmniDB...""
Good Morning,
I installed the OmniDB-app today, but it is not booting.
I use windows 10 64bit.
I have installed pgAdmin 4.

[2020-10-05 00:57] JustinTimperio commented on #1067
Is this project still alive?

[2020-10-05 12:43] luss commented on #1067
I believe the project continues to be very useful and it will be inevitably
continued.  Are the current controllers of the project open to allowing
others in or is a fork desirable and/or necessary.

--Luss

On Sun, Oct 4, 2020 at 5:58 PM jtimperio <notifications@github.com> wrote:

[2020-10-05 17:03] punit-porwal opened #1161 "OmniApp vs Server side java"
Hi Team,

Not a issue or but, need enquiry
Is it possible if we can use OmniApps(Front-End) as it is as you created for UI and Server side can we use Java based server code means we can install OmniApps in local and use own java based server code to make connection between App and any database , or server and Front-End both are tied with Python language only hence not able to do separation , could

[2020-10-05 19:03] felipebiox commented on #1067
Hello folks,

First and foremost, thank you all for the continued support and interest in OmniDB!

I'm thrilled to announce that version 3 is coming out very soon.
Also, we are holding a webinar to talk about this tool that we love, happening on 2020 October 14, at 4pm UTC.

In case you would like to watch it live, you can register on the link below:
[https://resources.2ndquadrant.com/en/webinar-m

[2020-10-05 20:04] luss commented on #1067
Great stuff Luis!!

On Mon, Oct 5, 2020 at 3:04 PM Luis Felipe Thofehrn Castro <
notifications@github.com> wrote:

[2020-10-05 20:06] luss commented on #1161
Yes...   Your choice to use OmniDB as your RDBMS Admin front end does NOT
block you from getting at your any of your RDBMS databases from the
platform & tooling of your choice.  Long live open source & SQL!!

--Luss

On Mon, Oct 5, 2020 at 1:03 PM punit-porwal <notifications@github.com>
wrote:

[2020-10-06 14:28] barthisrael commented on #1034
Hi @marcofavale , thanks for reporting. Issue fixed for next release.

[2020-10-08 09:37] goldencut commented on #203
Hi, These seemingly unimportant issues (for devs) can make a world of difference to users, and in the long run also to the project (no users - no project). So just an idea - maybe add an option to save all the connections user has added to a .pgpass file? Just a tickbox in settings. And user can add the passwords manually to the file if s/he chooses to.

BR,
M.

[2020-10-08 14:53] rafaelthca commented on #203
Hi,

We are adding the possibility to save the password in OmniDB 3.0, coming out very soon.

We are not going to touch pgpass though. Password will be stored in OmniDB's metadata if the user decides to do that.

[2020-10-09 14:43] barthisrael commented on #1065
Hi @kondrat-net , thanks for reporting that. We're currently working on this issue. We intend to add support to edit comments in all supported objects, as well shown it in objects DDL.

[2020-10-14 17:54] felipebiox commented on #1067
Hello again folks,

As proposed, OmniDB's webinar just finished and I came here to give you a brief summary.

We had a fast-paced overview of the interface updates, going through quite a few differences and new stuff.
Rafael also gave us quite a few insights on the strategies behind backend and server-side improvements/implementations, as well as an update on some long awaited bug fixes.

I'm glad

[2020-10-16 00:44] a-salimkhanov commented on #938
Hi

Connection using a "connection string" still requests password even if password included, like...
mysql://user.pass(@host:port

OmniDB 2.17.0
Linux Mint 20 (Cinnamon 64-bit) | 5.4.0-48-generic #52-Ubuntu SMP

Thank you,

[2020-10-20 17:02] barthisrael commented on #1159
Hi @ahmed-r-hashim ,

Thanks for your interest in OmniDB and for proposing new features. This one was implemented and will be available in 3.0 version, which will be released soon.

Regards.

[2020-10-20 17:10] barthisrael commented on #1157
Hi @FGU1 ,

Thanks for reporting this issue. This was already fixed for next release, 3.0, which will be available soon.

Regards.

[2020-10-20 17:30] barthisrael commented on #1156
Hi @ccurvey ,

Thanks for reaching us.

We'll release 3.0 version soon, almost final stage. We intend to study your proposal for following version, 3.1.

Any news on that, we'll let you know.

Regards.

[2020-10-20 17:33] barthisrael commented on #1155
hi @dmytrohusiev ,

Thanks for reporting. Issue fixed.

Regards.

[2020-10-20 18:33] barthisrael commented on #1150
Hi @gimhana888 ,

Thanks for reaching us and sorry about the delay :(

All info related to OmniDB is stored in the following path: **~/.omnidb**. So, if you're running OmniDB as root, for example, you'll be able to find the OmniDB database in the path **/root/.omnidb/omnidb.db**.

As you want to migrate to another server, it would require installing the same OmniDB version in the other server, and

[2020-10-20 18:41] barthisrael commented on #1148
Hi @MaximKraev ,

Thanks for reaching us.

We have redesigned backend and frontend of OmniDB for 3.0 version, which will be released soon. One of the main changes we have done was abandoning websocket connections. We were not using the most relevant features of websockets, so we converted it to long polling, fixing a lot of issues that were opened in GitHub related to websockets, and at the same t

[2020-10-20 18:52] barthisrael commented on #1147
Hi @h5rdly ,

Thanks for reaching us.

IIUC you would like to use something like **pip install omnidb** to install all OmniDB required libraries. Is that what you want?

Regards.

[2020-10-20 19:11] luss commented on #1147
Making omnidb be installable from pip would be sweet.  In my opinion id
also only try and support linux and python3.  By being installabke from PIP
having a doxker inage would be easy to maintain

On Tue, Oct 20, 2020, 2:52 PM Israel <notifications@github.com> wrote:

[2020-10-20 19:30] barthisrael commented on #1146
Hi @Mr-Senven ,

OmniDB 3.0 will be release soon, and it'll have the option to store connections passwords in OmniDB database, so you'll not be required to type it from time to time.

Regards.

[2020-10-20 19:45] barthisrael commented on #1147
Cool, thanks for clarifying. We'll discuss about it and let you know on any news.

[2020-10-20 19:55] barthisrael commented on #1143
Hi @maheshvasu ,

Thanks for reaching us.

Currently there is no way to achieve what you want using the web interface. Although you can inspect that using **omnidb.db**, which is located in the path **~/.omnidb**, i. e., in **.omnidb** folder under home directory of the user that is running OmniDB. If you have access to such file, you'll be able to inspect it. Such file is a SQLite database. You c

[2020-10-20 20:10] barthisrael commented on #1138
Hi @guarniello ,

Thanks for reaching us.

This is a WIP. OmniDB 3.0 will be released soon and we intend to deliver missing debugger plugins as well.

Regards.

[2020-10-20 20:19] barthisrael commented on #1137
Hi @ChrisLee1023 ,

Thanks for reaching us.

In OmniDB 2.x you're not able to change OmniDB database technology. It supports only SQLite.

From OmniDB 3.0 onwards we intend to expand that capability. OmniDB 3.0 will be released soon and will already be able to use both SQLite and PostgreSQL as its database. We intend to expand to MySQL support as well in version 3.1.

We'll let you know on any upd

[2020-10-20 20:41] barthisrael commented on #1136
Hi @yyyyyj45 ,

Thanks for reaching us.

OmniDB is expected to work both in Chrome and Firefox. We have been facing a few issues related to websockets lately in OmniDB 2.x.

OmniDB 3.0 will be released soon. In such version we have abandoned the websockets technology and are now using long polling. By doing so, we expect to solve a lot of issues related to websockets.

Once it's released, we invit

[2020-10-20 21:00] barthisrael commented on #1134
Hi @ccurvey ,

Thanks for reaching us and sharing the details.

Are you able to download the files using a different browser? As the file is being created in the server side, we suspect of some kind of problem in the client side, i. .e, some configuration in your browser or even an antivirus blocking the download.

Regards.

[2020-10-20 21:17] ccurvey commented on #1134
Argh, I know I have fixed this on Firefox on my other computer, but I can't remember how.  It had something to do with the fact that I'm connecting over https, but the certificate is not trusted by Chrome.    So maybe I just installed your cert as trusted and it started working?

[2020-10-21 01:30] felipebiox commented on #1067
Hey folks,

We've worked around the clock to deliver this today, but we were full of working commitments.
At this moment we are almost ready although not quite there just yet.

Postponing the release for the end of the week to give a last round of polishing.

Best regards

[2020-10-21 15:28] barthisrael commented on #1134
Nice, we'll try to reproduce it that way, thanks.

[2020-10-23 12:16] Nextafari commented on #993
You could also switch to the root user, that was what worked for me. typing  `su` in bash and entering your root user's password

[2020-10-24 16:06] lajith111 commented on #1067
Where we can download beta version?

[2020-10-25 21:46] martinmurciego opened #1164 "SSO authentication by OpenID?"
Greetings, is there a way to authenticate users by Open-Id Client? We have a Keycloak SSO server. Could it be through some plugin or community code to perform this authentication?

[2020-10-25 21:50] martinmurciego commented on #203
If I have different connections for different databases (MySQL, Postgres, etc.), can I also save the passwords and open connections without being asked again?

[2020-10-25 23:00] MichaelDBA opened #1165 "question: why so many open issues?"
It is hard to get a birds eye view of open issues and which of those would concern me before using this tool.  What is the rationale for keeping issues open for months?

[2020-10-25 23:41] felipebiox commented on #1165
Hi @MichaelDBA ,

That's a great point. The short answer is that we are releasing a new major version of OmniDB [#1067 ](https://github.com/OmniDB/OmniDB/issues/1067)

Major version 2 is frozen, thus, many issues were accumulated;

This is a refactor of the tool with dependency upgrades, architectural changes, new UI, and of course, we are covering several of those issues on this release.

Best Re

[2020-10-26 09:38] MichaelDBA commented on #1165
Thanks for the info.

[2020-10-26 13:30] Leonardofreua opened #1166 "The update is deleting data"
When upgrading to the new version (3.0), I lost all my **connections** and **snippets**.

I performed the updated via **.deb** file.

[2020-10-26 14:19] wind39 commented on #1166
Hi @Leonardofreua ,

Are you using OmniDB app or server? What version were you running before the upgrade?

Also, if it's server, do you run it as `root` or a different operating system user?

Regards,

William

[2020-10-26 14:47] Leonardofreua commented on #1166
I'm using the OmniDB app and the previous version was 2.16.

[2020-10-26 17:05] felipebiox commented on #1067
Hello folks,

As you may know, OmniDB 3.0.0b is now live.

Please, be aware that this release has an issue with migration of existing connections, snippets and monitoring units from OmniDB 2.x.

We are currently working on a hotfix to be released today, which should fix this.

Best regards

[2020-10-27 00:07] lajith111 opened #1167 "Auto complete for table names"
Auto complete for tables names not populating on firtst time or occationally in windows 10... thanks

[2020-10-27 01:44] felipebiox commented on #1067
Hello again folks,

As announced, we just release a new minor version for OmniDB (v.3.0.1b), which includes an important hotfix for migrating from older versions.

Best regards

[2020-10-27 03:51] rafaelthca commented on #1167
Hi @lajith111,

Can you provide more details or steps to reproduce the problem? Thanks!

Rafael.

[2020-10-27 06:02] lajith111 commented on #1167
![image](https://user-images.githubusercontent.com/28708173/97262555-1cceed80-1847-11eb-811d-02b12860ca75.png)

Above is my query . In this query  , if i  select the schema ( security) in the populated data then tables details are showing.

The problem with only if i type the schema then type "." then tables are not showing.

Thanks

[2020-10-27 12:22] dbauszus-glx opened #1168 "3.01b install failed via debian package after purging v2 omnidb-app"
I had omnidb-app v2.01 installed but didn't fancy the interface that much. This was on Ubuntu 18.04, possibly 16.04. The OS has now been upgraded to Ubuntu 20.10 and I read good things about v3.01b.

The deb installer failed from the gnome desktop interface. I decided to purge the existing install.

`sudo app purge omnidb-app`

The deb installer still failed from desktop.

`sudo dpkg -i omnidb-app

[2020-10-27 12:44] rafaelthca commented on #1168
Hi @dbauszus-glx,

OmniDB is trying to migrate your old metadata, which is quite old. If you don't care about losing stored connections and snippets from the old version, just remove the folder `~/.omnidb/omnidb-app`.

If you prefer to migrate what you already had the idea would be to move to the newer 2.x version (2.17) and then migrate to 3.

Let me know if that helps.

[2020-10-27 12:53] rafaelthca commented on #1167
I see. I believe the problem is with the fact that when you type the schema `security`, the autocomplete box is still open. When you type `.` (dot) the autocomplete tries to filter what it already has in the list. You will have to either press enter to select the schema and close the autocomplete, or continue typing, type the dot, and then press the autocomplete keyboard shortcut.

Let me know if

[2020-10-27 13:01] dbauszus-glx commented on #1168
I prefer to start with a clean slate. I removed the /opt/omnidb-app folder. I don't see any .omnidb directory. May this be removed when I run the apt purge command?

When I start omnidb now I get following message list:

[code]

[2020-10-27 13:10] pgaro opened #1169 "Dark theme circle for running query"
I've wondered about this for a long time:
Why aren't there white dots in the dark theme like there are dark dots in the light theme at the rotating circle while query execution?

It makes it very hard to see the executing query in the dark theme.

[2020-10-27 13:20] felipebiox commented on #1169
Good catch, let's update that asset for the dark theme.

[2020-10-27 13:22] rafaelthca commented on #1168
I see you are on Debian right? OmniDB creates the hidden `.omnidb` directory in the home of the Ubuntu user who is starting OmniDB.

So open your terminal and type `cd ~/.omnidb` (or `/home/[your_user]/.omnidb`)

[2020-10-27 13:26] felipebiox commented on #1164
Hello Martin,

OmniDB 3.0.1b was just released with a new auth method: LDAP / AD.

We are planning to implement this as well on the next stable release: v3.1

Best regards

[2020-10-27 14:01] dbauszus-glx commented on #1168
Excellent. I missed that one. This works now. Which is the best channel to provide feedback on the 3.01b?

[2020-10-27 14:01] #1168 closed

[2020-10-27 14:16] pgaro opened #1170 "3.0.1b explain/explain analyze"
First it's obvious that there are no shortcuts anymore for this, I wonder about the decision. Not that it would matter much considering the variety of issues below.

What surprises me even more is the new view. While it's certainly nice to have a tree view, it doesn't really seem well equipped to do what it's supposed to. When I open this a Single node almost fills my screen, even when I hide the

[2020-10-27 14:37] pgaro opened #1171 "explain"
One thing I wondered about is if there is a good way to make stuff like buffers or verbose configurable. Not having them is usually worse than having a bit of noise, but making it optional would be nice in some places.

[2020-10-27 14:39] pgaro opened #1172 "3.0.1b right click menues"
They are sometimes hidden behind the return panel data/messages/explain. I don't think the use should be responsible to resize the panel just to use left menu.

[2020-10-27 14:45] pgaro opened #1173 "3.0.1b Shortcut outer tab navigation"
Another thing I miss coming from OmniDB 2 is the ability to cycle though outer tabs with keyboard shortcuts. Is that on the roadmap somewhere?

[2020-10-27 14:53] rafaelthca commented on #1170
Hi @pgaro,

Thanks for raising those concerns. I'm already aware of all of this, since I've
been using myself in my daily work.

The idea of coming up with a new component was due to the fact that we were missing
a more comprehensive graphical view of the plan. The old component lacks several
details in the graph view, which are present in the new one.

That being said, all the issues you reported

[2020-10-27 14:55] pgaro opened #1174 "3.0.1b Render Graph"
Apparently does nothing. And isn't available for a single table, nor is it (and I think never was) available for the whole database.

Do we still need this feature?

[2020-10-27 15:03] pgaro commented on #1170
@rafaelthca Thank you for work, reporting is the least I can do, when I don't want to get my hands dirty in front end code. If you ever want to get feedback about something, you can just get in touch. I have a few people I can ask to try something out, if I need input I'm not able to give myself.

[2020-10-27 15:56] #1155 closed

[2020-10-27 15:56] #1159 closed

[2020-10-27 16:03] felipebiox commented on #1130
Hello bbotte,

Thank you for your report, there were quite a few issues with websocket in OmniDB.

**OmniDB 3 is now live** and the **websocket technology has been replaced**.

Connectivity issues and errors related to websocket are no longer affecting users.

I'm now closing this issue.

Best regards

[2020-10-27 16:04] #1130 closed

[2020-10-27 16:07] felipebiox commented on #525
Hello,

This feature has been implemented and is now available on OmniDB 3.

I'm now closing this ticket.

Best regards

[2020-10-27 16:07] #525 closed

[2020-10-27 16:30] #1165 closed

[2020-10-27 16:39] lajith111 commented on #1167
@rafaelthca thanks for replying.. auto complete is really nice feature in omnidb3 which is mising in previous version..

[2020-10-27 16:47] felipebiox opened #1175 "Now available in pre-release (3.0.2b)"
Quick access to the next release's roadmap filter:
[https://github.com/orgs/OmniDB/projects/3?card_filter_query=milestone%3A3.0.2b](https://github.com/orgs/OmniDB/projects/3?card_filter_query=milestone%3A3.0.2b)

**Source**:
- [https://github.com/OmniDB/OmniDB/issues/](https://github.com/OmniDB/OmniDB/issues/)

**Criterias**:
- urgency.
- action points.

**Types**
- bug fixes.
- improvements.
- ro

[2020-10-27 16:58] felipebiox opened #1176 "Bugged keyboard text selection on editors"
When trying to select text inside the editor with  (shift + up / down), editor jumps lines.

[2020-10-27 18:05] pgaro opened #1177 "3.0.1b cpu usage"
Only tested with firefox: Just after login OmniDB "Web Content" subprocess of firefox uses a lot of cpu (45-70 % measured with top on my local machine) idly sitting around.

That slightly raises upon execution of a query, but the baseline seems way to high for not really doing anything.

[2020-10-27 19:41] Leonardofreua opened #1178 "Dark theme bug in modal results"
The dark theme isn't being applied in the results modal when it is maximized. Images below:

![image](https://user-images.githubusercontent.com/11354911/97353779-384fed80-1873-11eb-847f-72c7d2aeb260.png)

![image](https://user-images.githubusercontent.com/11354911/97353830-4998fa00-1873-11eb-82b8-512dc2637063.png)

[2020-10-27 21:48] rafaelthca commented on #1177
Thanks. Already found the problem and working on a hotfix that should be out tomorrow.

[2020-10-28 13:29] wind39 commented on #1166
Hi @Leonardofreua ,

Two days ago we released 3.0.1b with an improvement to the automatic migration process. If you install the newest beta package now, it should migrate your users, connections, snippets and monitoring units from 2.17.

We are preparing release of 3.0.2b, it should be out later today.

Best regards,

William

[2020-10-28 13:32] barthisrael commented on #1176
Also, when trying to press **TAB** with some text selected to indent it, it replaces all text by a **\t**

[2020-10-28 14:48] Leonardofreua commented on #1166
Ok, I will install this version. Thanks for attention.

[2020-10-28 14:56] wind39 opened #1179 "Notarize software for Apple"
For reference: https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution

[2020-10-28 15:44] felipebiox commented on #1058
Hi @mariusa ,

OmniDB 3 beta is live.

The global snippets panel is now available.
Also the editors have context menus with actions integrated to the snippets, allowing you to quick-save or use, navigating the snippets structure straight from the menu.

Here is a preview.

![snippets_info](https://user-images.githubusercontent.com/11302800/97460103-3b061d80-191b-11eb-8ab4-6e7d9878f2e3.png)

I'm no

[2020-10-28 15:47] #1058 closed

[2020-10-28 15:50] felipebiox commented on #1175
OmniDB 3.0.2b has been released.
Updating the roadmap and closing issues after a short period of UAT evaluation.

[2020-10-28 15:56] felipebiox commented on #1175
## Release notes
- Re-included
    - Explain visualizer component from OmniDB 2.x [#1170](https://github.com/OmniDB/OmniDB/issues/1170)
    - Shortcuts for issueing Explain and Explain Analyze [#1170](https://github.com/OmniDB/OmniDB/issues/1170)
  - Bug Fixes
    - Fixed missing dark theme colors on connection results when in full-view [#1178](https://github.com/OmniDB/OmniDB/issues/1178)
    - F

[2020-10-28 16:01] felipebiox commented on #1150
I'm now closing this issue.

Please, feel free to re-open if you have further questions or contributions.

[2020-10-28 16:02] #1150 closed

[2020-10-28 16:05] felipebiox commented on #1152
Hi @Leonardofreua ,

I noticed you already experimenting with version 3 beta.

This issue shouldn't occur in the new version, we've reworked the rendering and used a new technology for the app build.

I will now close this issue, feel free to open new ones if needed.

Thank you very much for the feedback.

[2020-10-28 16:05] #1152 closed

[2020-10-28 16:08] felipebiox commented on #1136
Hi @yyyyyj45 ,

We've replaced websocket with a new strategy using long polling. This shouldn't happen anymore.

Please, feel free to open new issues.

I'm now closing this issue.

Best regards

[2020-10-28 16:08] #1136 closed

[2020-10-28 16:11] felipebiox commented on #1126
Hi @ccurvey ,

Glad you are good.

I'm now closing this issue, feel free to open new ones if you need.

Best regards

[2020-10-28 16:11] #1126 closed

[2020-10-28 16:44] felipebiox commented on #1117
Hi @square-root3 and @JohnnySJKim

I've seen other issues like this that were related to connectivity and they were based on websocket issues and/or bugs.

We are no longer using websocket now.

OmniDB 3 beta is now live and we designed a new strategy using long polling.

I will now close this issue.

Please, feel free to open new issues if you need and thank you for the contribution.

Best regard

[2020-10-28 16:44] #1117 closed

[2020-10-28 16:48] felipebiox commented on #1109
Hi,

OmniDB 3 beta is now live.

Some UI elements are now togglable, allowing you to hide them, here's a preview.

![workspace_info](https://user-images.githubusercontent.com/11302800/97468477-16627380-1924-11eb-8d9e-a0c5b77e1c08.png)

In the case of the Properties/DDL panel, visibility also controls the activity of database tree actions that request this sort of info.

Please, feel free to open n

[2020-10-28 16:48] #1109 closed

[2020-10-28 16:51] felipebiox commented on #1093
Hi @liudaac ,

OmniDB 3 beta is now live, and the websocket has been replaced with a different strategy using long polling.

2.x had some well-known issues related to the websocket and those are gone.

I will now close this issue, thanks for your contribution.

Best regards

[2020-10-28 16:51] #1093 closed

[2020-10-28 17:08] felipebiox commented on #1070
Hi all,

OmniDB 3 beta is now live, coming with several improvements.

For example, websocket was replaced with a different strategy using long polling, which fixed quite a few connectivity and performance issues.

I'm closing this issue to organize the roadmap, but feel free to re-open issues if you need.

Thanks for your contribution.

Best regards

[2020-10-28 17:08] #1070 closed

[2020-10-28 17:23] Leonardofreua commented on #1152
Thank you very much the attention of the whole team.

[2020-10-28 17:27] felipebiox commented on #1055
Hi @mariusa

I just replied to you in a different issue talking about Omnidb 3 beta being now live.

Outer connections now have names related to optional Titles that you can assign to them.

We are also doing another round of improving it more based on new feedback that we already received.

Bear in mind that this menu has different visuals depending on the size of the screen.

I will now close th

[2020-10-28 17:27] #1055 closed

[2020-10-28 17:31] #1051 closed

[2020-10-28 17:56] felipebiox commented on #1029
Hi all,

OmniDB 3 beta is now live.

We are re-organizing the issues to work more effectively and have a big picture of things done and what's on the way.

There are several well-known issues related to websocket in OmniDB 2.x, as well as confusion and complexity in setting up environments.

We decided to adopt a different approach and re-designed our connections using long polling instead, and no

[2020-10-28 17:56] #1029 closed

[2020-10-28 17:59] felipebiox commented on #1026
Hi @chacarrons ,

OmniDB 3 beta is now live and fixes alot of issues, including connectivity.

I'm closing this issue to properly organize trackings on the new major version and this should be solved there.

Thank you for your contribution. Please, feel free to open new issues if you need.

Best regards

[2020-10-28 17:59] #1026 closed

[2020-10-28 18:01] #1007 closed

[2020-10-28 18:09] felipebiox commented on #787
Hi all,

OmniDB 3 beta is now live and websocket was completely replaced with a new strategy using long polling instead, along with many other changes.

New documentation can be found here: [docs 3 beta](https://omnidb.readthedocs.io/en/latest/)
In case you still need to access the documentation for 2.x, it's available here [2.17.0](https://omnidb.readthedocs.io/en/2.17.0/)

I'm closing this ticke

[2020-10-28 18:09] #787 closed

[2020-10-28 18:14] pgaro commented on #1169
Looks wonderful, thank you!

[2020-10-28 18:14] #1169 closed

[2020-10-28 18:15] pgaro commented on #1172
Looks much better now, thank you!

[2020-10-28 18:15] #1172 closed

[2020-10-28 18:15] pgaro commented on #1177
Much better!

[2020-10-28 18:15] #1177 closed

[2020-10-28 18:16] pgaro commented on #1170
This is much better, even though I still miss the shortcuts for explain/explain analyze.

[2020-10-28 18:18] rafaelthca commented on #1170
Hi,

The shortcuts were added back. Can you confirm they are working?

[2020-10-28 18:20] pgaro commented on #1171
@felipebiox Since we now have a toggle switch for the explain anyways, I could very imagine adding similar toggle switches for the stuff I mentioned above.

[2020-10-28 18:26] pgaro commented on #1170
Sorry, my bad. I missed that part. That's helpful, thank you!

I understand that you were trying to move every shortcut to some Alt+\w combination, but is there a particular reason you changed the explain shortcuts with the ident and such?

I can relearn or reconfigure them at my leisure, but I'm not sure what other more habitual users will think.

[2020-10-28 18:29] #701 closed

[2020-10-28 18:32] felipebiox commented on #1171
@pgaro cool, let me add this to the roadmap so we can assess in the next milestones planning

[2020-10-28 18:44] felipebiox commented on #1148
Hi all,

Just refreshing this with the info that OmniDB 3 beta is now live.

Websocket has been dropped in favour of a different strategy using long polling, with much simpler configurations and a few connectivity issues fixed.

I'm closing this ticket but feel free to open new issues as needed.

Thank you for contributing.

Best regards

[2020-10-28 18:44] #1148 closed

[2020-10-28 22:11] barthisrael commented on #56
Hi,

We have finally pushed an official image to DockerHub. Find instruction in the below link:

https://hub.docker.com/r/omnidbteam/omnidb

Regards.

[2020-10-28 23:49] #56 closed

[2020-10-29 02:32] #1178 closed

[2020-10-29 02:38] felipebiox commented on #1166
Hi all,

I'm closing this issue now that the fix is available on the latest version.

Please, feel free to open new issues. Thanks for your contribution.

Best regards

[2020-10-29 02:38] #1166 closed

[2020-10-29 02:50] felipebiox commented on #77
Hi all,

Just updating this issue with some info.

Saving snippets has been available for quite some time.

OmniDB 3 beta is now available and it contains quite a few improvements in the snippets area.

![snippets_info](https://user-images.githubusercontent.com/11302800/97519495-1c823f80-1978-11eb-96ac-06ff133199f7.png)

You can now access snippets from any tab on a global floating panel.
Also, ed

[2020-10-29 15:18] felipebiox opened #1180 "Improve outer menu"
Outer Menu is not very practical yet.

As of now, the outer menu is collapsed by default when working on a clientWindow that is smaller than 1981px.
While extended, it is floating above the content.

This is not ideal, forcing the user to navigate the menu or expand it manually to better locate connections.

Suggestion is to apply the large screen layout when extended and apply it as the default s

[2020-10-29 21:06] Leonardofreua commented on #1180
I believe it would be interesting to have the possibility to collapse the **sidebar of the selected DB**. So it would make it possible to view the editor broader perspective (I speak from experience).

[2020-10-29 21:18] felipebiox commented on #1180
Hi @Leonardofreua ,
By sidebar you refer to the area of database tree + properties/ddl?

So, a toggler quick-action to collapse it entirely?

[2020-10-29 21:23] Leonardofreua commented on #1180
Exactly. Today have a feature to drag the sidebar, but it would be interesting to collapse it.

[2020-10-29 21:51] Leonardofreua opened #1181 "OmniDB icon overlay on the scroll"
The OmniDB icon in the lower right corner, is overlapping the list scroll, this prevents the scroll from being pulled via click.

![image](https://user-images.githubusercontent.com/11354911/97636206-856cc480-1a17-11eb-9466-4be410be2720.png)

[2020-10-30 14:21] msalka opened #1182 "can't log in as admin"
After build, and run docker image, can't login as admin
Version : 3.0.2b
Branch : dev
![obrázok](https://user-images.githubusercontent.com/39370267/97716185-9bd05a00-1ac3-11eb-84a0-a20913c456b3.png)

[2020-10-30 16:12] felipebiox commented on #1182
Hello @msalka ,

I just made a fresh attempt with this and it worked. Some considerations:

Did you proceed with the step to create the admin user with [docker exec](https://hub.docker.com/r/omnidbteam/omnidb)
Section: **Creating a super user**

if you executed it like this
`docker exec -it my_container python omnidb-server.py --createsuperuser=admin pass`
Your access would be user `admin` passwor

[2020-10-30 16:20] felipebiox commented on #1182
If you still have problems, please confirm and I will label this as bug to be better assessed

[2020-10-30 19:14] Leonardofreua commented on #1176
I also noticed that the **Alt + (up or down) shortcut** to move a line is behaving strangely.

[2020-10-31 12:35] barthisrael commented on #98
Hello everyone,

OmniDB 3.0 beta was released and it includes LDAP authentication. We invite you to test it. More info about how to setup it can be found [here](https://omnidb.readthedocs.io/en/latest/en/03_omnidb-server_usability.html#authentication-methods)

Regards.

[2020-10-31 12:50] #98 closed

[2020-10-31 12:51] barthisrael commented on #203
Hello everyone,

This feature was released in OmniDB 3.0 beta. We invite you to use it.

About your question @martinmurciego , yes, once you save it, you'll not be prompted again for that.

Regards.

[2020-10-31 12:51] #203 closed

[2020-11-02 08:30] msalka commented on #1182
Thank you, your answer, solved my problem.

[2020-11-02 08:30] #1182 closed

[2020-11-02 15:45] Din-Hoking opened #1183 "oracle/objects in other schemas"
Hi guys, can you please add the ability to view objects of other schemas in oracle connections ?

[2020-11-02 21:32] felipebiox commented on #1183
Hi @Din-Hoking ,

I will add this to the roadmap. It will probably fall under expanding the `database tree` for oracle.

Thank you for contributing.

Best regards

[2020-11-02 22:05] felipebiox opened #1184 "Next release (roadmap 3.0.3b)"
Quick access to the next release's roadmap filter:
[https://github.com/orgs/OmniDB/projects/3?card_filter_query=milestone%3A3.0.3b](https://github.com/orgs/OmniDB/projects/3?card_filter_query=milestone%3A3.0.3b

Source:
- [https://github.com/OmniDB/OmniDB/issues/](https://github.com/OmniDB/OmniDB/issues/)

Criterias:
- urgency.
- action points.

Types
- bug fixes.
- improvements.
- rollbacks (re-i

[2020-11-02 22:33] felipebiox commented on #1180
This implementation contemplates a few structural changes to the layout besides the toggling action.

- Removing the fixed style of the menu.
- The main container of the primary tab is now styled with css GRID with template set in place: `'menu content' 100% / auto minmax(0, 1fr)`. With this, the outer_menu still allows internal scroll content when heavily populated, while the content area can exp

[2020-11-03 12:54] dark0ni opened #1185 "OmniDB Windows Client detect as Virus by Windows Defender"
When i download

https://omnidb.org/#downloads

OmniDB App v.3.0.2.b (Windows)
--
Platform Windows
Version omnidb_3.0.2b_windows.exe
md5 abc2ea7a4a4cab8e431529cb9d37dc0e

the browser blocks the download, and after installing Windows Defender detects a trojaner: Trojan:Win32/Wacatac.D9!ml

[2020-11-03 15:15] felipebiox commented on #1185
"Hi @dark0ni ,

Thank you for reporting this occurrence.

The short answer is that this is almost certainly a [false-positive related to pyinstaller](https://github.com/pyinstaller/pyinstaller/issues/4633), as it has already been analysed by the developers. But we take security very seriously and I feel that this issue should receive a detailed summary on the topic, apologies in advance if I'm bei

[2020-11-04 07:36] dark0ni commented on #1185
For debugging help:

Windows 10, Version 2004
Windows Defender Version of Securityinformation: 1.327.241.0

[2020-11-04 09:12] SiweiShen2019 opened #1186 "\d or describe doesn't work"
I used omniDB 3.0.2b with PostgreSQL 12.4, and describe-related commands doesn't work in console.

Here's the effect when I run in OmniDB console:

[code]

And here's the effect when I run the same commands using `psql` locally:

[code]

I goolge'd the question and figure that it might occur when the client was below version 12. (I also tried OmniDB 2.17.0 and got the same issue.) I wonder if I ca

[2020-11-04 14:17] wind39 commented on #1184
I'll try to handle #1186 for `3.0.3b`.

[2020-11-04 14:18] barthisrael commented on #342
Hello everyone,

We invite you to test **OmniDB 3.0**, which is not using websockets anymore. This kind of errors are not expected anymore.

Regards.

[2020-11-04 14:18] #342 closed

[2020-11-04 14:21] barthisrael commented on #316
Hello @alasdairdc ,

We have tested it using OmniDB 3.0 which was recently released as a beta version and it has worked with `scram` authentication. Please test it and see how it goes.

Regards.

[2020-11-04 14:21] #316 closed

[2020-11-04 16:00] barthisrael opened #1187 "Save user layout on OmniDB metadata"
Follow-up of #403

Implement a way for the user to override OmniDB default layout, specifying custom dimensions of each panel

[2020-11-04 16:02] barthisrael commented on #403
1:18 PM

Hi @cschwaderer ,

It's already implemented in OmniDB 3.0. Please give it a try.

This is in our roadmap (see issue #1187 ). We thought of implementing some way of specifying the default custom layout per user. If the user doesn't have any, then OmniDB would apply its default.

Regards.

[2020-11-04 16:02] #403 closed

[2020-11-04 17:25] barthisrael commented on #439
Hi @df7cb ,

Please check it against OmniDB 3.0. It's supposed to be fixed in that version.

Regards.

[2020-11-04 17:25] #439 closed

[2020-11-04 20:12] barthisrael commented on #597
Hi @cschwaderer ,

We have written below helper bash script that might do what you want using our docker image:

[code]

To use it you should execute it with required arguments as you can see in the top of it. Then you should access the address `http://127.0.0.1:8000` of your machine and use credentials passed to the script to login to OmniDB.

After doing everything you want, just stop the contai

[2020-11-05 13:30] #597 closed

[2020-11-05 14:26] barthisrael commented on #603
Hi @pasquall ,

We were not able to reproduce it. Could you please install OmniDB 3.0 and check how it goes?

Regards.

[2020-11-05 14:44] wind39 commented on #1186
Hi @SiweiShen2019 ,

Thank you very much for reporting this and for the details you provided.

OmniDB Console Tab uses [dbcli/pgspecial](https://github.com/dbcli/pgspecial) behind the curtains to handle `psql` meta-commands.

OmniDB `3.0.2b` was built with `pgspecial` version fixed in 1.11.5 which didn't support PostgreSQL 12 yet.

I just tested latest `pgspecial` and it works:

![image](https://u

[2020-11-05 14:46] SiweiShen2019 commented on #1186
Glad to hear it! I also look forward to `3.0.3b`.

[2020-11-05 19:45] erdusa opened #1188 "ctrl+up arrow doesn't show the last query in console tab"
In 3.0.2b I cannot use the very useful option ctrl+up arrow for view the last query I had executed, please do not remove this feature

[2020-11-05 19:51] erdusa opened #1189 "SSH tab doesn´t expand all window"
In 3.0.2b the ssh tab only uses a little box in the tab in the up-left corner
![image](https://user-images.githubusercontent.com/36895220/98289374-15f65800-1f76-11eb-94c0-a69dce2ce3cb.png)

[2020-11-05 19:55] erdusa opened #1190 "White output box in console tab with dark theme"
I don't know if this is a issue but it is not look pretty
![image](https://user-images.githubusercontent.com/36895220/98289815-c19fa800-1f76-11eb-89e3-b02ff7dd3c49.png)

[2020-11-05 20:10] erdusa commented on #1188
I would like adding to this issue this: when I put cursor at the beginning to the line and I press shift + down arrow, it doesn't select the row

[2020-11-06 17:09] lsiedlaczek commented on #714
+1

[2020-11-07 15:39] heejit opened #1191 "OmniDB 3.0.2b : Editor and Interface Font Size"
How can I change the font size of editor and interface separately.

In old version there is option to do the same.

[2020-11-07 15:52] heejit opened #1192 "OmniDB 3.0.2b : Result Grid Column resize"
Result Grid column is not resizable to arbitrary size.

[2020-11-09 12:16] felipebiox commented on #1190
Hi @erdusa ,

I just noticed that this only happens if the component used for the console tab is already loaded when the user changes the theme.
If you are already using the dark theme and reload, it will fix itself on all tabs and look like this.

![console_dark](https://user-images.githubusercontent.com/11302800/98539946-e42e0b80-226b-11eb-8b16-717860cf36e4.png)

I will work on this for the next

[2020-11-09 13:10] sisinio commented on #1185
Hi,
I have the same problem with the same Win 10 version.
At second run OmniDB wont' start because Windows Defender detects a trojaner: Trojan:Win32/Wacatac.D9!ml

![image](https://user-images.githubusercontent.com/5585987/98545017-1b64e280-2295-11eb-82b2-ad68c442d6e1.png)

https://go.microsoft.com/fwlink/?linkid=142185&name=Trojan:Win32/Wacatac.D9!ml&threatid=2147757788

Best regards

[2020-11-09 13:15] felipebiox commented on #1192
Hi @heejit ,

I will work on this.

Thanks for contributing.

Best regards

[2020-11-09 13:46] felipebiox commented on #1191
Hi @heejit ,

First of all, thank you for giving this feedback, and the short answer is: **in version 3 beta, you can't. But I will give a second shot on this**.

Here's a brief summary in case you are interested:

Having a single font-size was something that came up during the development of 3.x for a few reasons. From the top of my mind, I can mention that it helps with consistency when working

[2020-11-09 19:29] erdusa opened #1193 "Show one record per row in console tab"
In before versions I could see one record per row, as it shows this image:

![image](https://user-images.githubusercontent.com/36895220/98587029-97602a00-2297-11eb-9827-e417d97cabee.png)

but now the view isn't understandable
![image](https://user-images.githubusercontent.com/36895220/98586620-f2dde800-2296-11eb-9046-5b2c4987a026.png)

[2020-11-09 20:23] felipebiox commented on #1193
Hi @erdusa ,

Other users reported this undesired behaviour. I'm looking into this.

Thank you for contributing.

Best regards

[2020-11-10 01:04] felipebiox commented on #1189
Hi @erdusa ,

You can have it expanded by following the steps below, but I agree that this still isn't optimal. I'm working to improve the experience here.

In the meanwhile, you have this feature available: right-click the terminal on the outer_menu and click on adjust after cleaning the terminal.

Here's a series of pictures to show how to do it.

By default it will start with 80 columns of widt

[2020-11-10 15:39] Leonardofreua commented on #1176
If the text is selected from bottom to top and the shortcut for commenting the code is triggered (CTRL + /), the cursor is locked in first position of the editor, in upper left corner.

[2020-11-10 18:39] cyrilcros opened #1194 "Db configuration via env variables"
Hi,
would you be open to using [django-environ](https://django-environ.readthedocs.io/en/latest/) or the likes to configure the databases via environment variables? That would help for containers.
Thanks

[2020-11-10 18:41] cyrilcros commented on #1194
Never mind, just realized the omnidb django database and the credentials for other databases are different

[2020-11-10 18:41] #1194 closed

[2020-11-10 19:05] cyrilcros opened #1195 "Could we add a password option to --createconnection?"
Hi,
could you please add an option to create a new database **with a configured password** in `omnidb-server.py`? you can't add the password via CLI right now. The relevant code starts here: https://github.com/OmniDB/OmniDB/blob/feb6bf8006cd6c8e3527b7982ca3ec5a75af4d80/OmniDB/omnidb-server.py#L342
I could make a pull request and:

- reuse the same command but extend it to consume 8 args. That's a

[2020-11-11 08:38] hardyansein commented on #1185
By Symantec :

Scan type: Auto-Protect Scan
Event: Security Risk Found!
Security risk detected: Heur.AdvML.B
File: C:\OmniDB\omnidb-server\omnidb-server.exe
Location: Deleted or access blocked

[2020-11-12 20:34] felipebiox commented on #1185
Hello folks,

Providing an update to this issue.
We did a second round of research and verified `false-positives`, all related to pyinstaller.
We are currently working on a solution.

Best regards

[2020-11-12 21:20] felipebiox opened #1196 "List of desired shortcuts"
Hello folks,

After some comments and tests, we decided to open this issue so the community could propose and decide on which shortcuts should be maintained in OmniDB. This may be constantly updated according to comments and considerations.

**Now available**:
- `Autocomplete`
- `Cancel Query`
- `Indent`
- `New Inner Tab`
- `Remove Current Inner Tab`
- `Run Explain`
- `Run Explain Analyze`
- `Run

[2020-11-12 21:23] felipebiox commented on #1173
Hi @pgaro ,

We are re-including this shortcut.

We have pinned a issue (#1196) to facilitate tracking a list of desired shortcuts in omnidb.

I'm now closing this issue.

Thank you for contribution.

Best regards

[2020-11-12 21:26] felipebiox commented on #1170
Hi @pgaro

As mentioned in another issue about shortcuts, we created a pinned issue (#1196) to centralize the list of desired shortcuts.

I'm closing this issue and adding the shortcuts in the list there.

Best regards

[2020-11-12 21:27] #1170 closed

[2020-11-12 21:27] #1173 closed

[2020-11-12 21:41] felipebiox commented on #1188
Hi @erdusa ,

We created an issue (#1196) to centralize a list of desired shortcuts in OmniDB.

Already added it to the list.

Editor keyboard navigation and selection has been reported and is also being worked.

I'm now closing this issue, thank you for your contribution.

Best regards

[2020-11-12 21:41] #1188 closed

[2020-11-12 22:04] felipebiox commented on #1067
Hello folks,

Development of 3.0.3b continues as expected.

For now, I'm unpinning this issue to free space for other announcements.

Will keep this issue open and pin again in the appropriate occasion.

Thanks

[2020-11-13 15:19] deinspanjer opened #1197 "Typo in https://omnidb.org/ site"
The menu bar at the top of the site has a typo.
s/Hightlights/Highlights/

[2020-11-13 15:32] heejit opened #1198 "OmniDB 3.0.2b : Currently Working Server IP Address/Connection-Name Display Issue"
I am finding difficult to view which server I am working on.
I always work with minimum 3 server and always need to switch to other server

1. In Sidebar current server shows as Icon when you move mouse then only it is showing detail of connection
2. In tree view also no IP address or connection-name showing.

if you can add ip address/connection-name in tree view that will help.

[2020-11-13 16:06] felipebiox commented on #1197
Hi @deinspanjer ,

Just fixed it.

Thank you for your contribution.

Best regards

[2020-11-13 16:07] #1197 closed

[2020-11-13 16:15] felipebiox commented on #1198
Hi @heejit ,

There have been additional requests for this along with other improvements regarding the outer menu and the treeview area.
With this, the outer menu is being improved for version 3.0.3b (currently ready for release).

You can check #1180 for more details.

I will check the treeview info as well and see how it fits on the release.

Thank you for your contribution.

Best regards

[2020-11-14 13:50] heejit commented on #1198
May be a big title on top shows connection name and ip address

[2020-11-15 18:34] jeichenseerNRX opened #1199 "Remember tree view state"
Every time I open OmniDB or reload the page, I must click and scroll through five levels of tree navigation to get to the (only) schema I use.

- It would be nice if OmniDB remembered the tree state for each connection tab - !
- Alternatively/additionally, connections could have a 'default' tree state that they open in.
- Or, one could save the tree state as a bookmark, to open it in a single clic

[2020-11-16 13:28] felipebiox commented on #1199
Hi @jeichenseerNRX ,

Glad to know that you are enjoying OmniDB. Database Tree state saving is something that has been requested and discussed before, but hasn't left the board yet.

This is a cool improvement, we are revisiting the idea and looking into how to approach this without causing an overhead.

IMHO the bookmarking approach is feasible, but we still need to consider that quite often user

[2020-11-17 00:54] jeichenseerNRX commented on #1199
Thanks for the consideration. I see what you mean about tree state.

However - a bookmark could also be just a single-path shortcut - e.g. to a particular schema, or a particular table - without needing to store/restore the rest of the tree. You could save the bookmark from the contextual menu of an endpoint, and on recall It would just open the path to that end node, without disturbing the rest o

[2020-11-19 17:16] barthisrael commented on #1195
Hi @cyrilcros

Implemented and ready for next release. Straight forward change as you suspected.

Regards,
Israel.

[2020-11-19 17:19] cyrilcros commented on #1195
@barthisrael Awesome, thanks for your work!

[2020-11-19 21:47] df7cb commented on #439
It finally got to update the Debian package, and also checked that timestamptz columns in PK finally work. Thanks!

[2020-11-19 22:29] df7cb commented on #780
Hi,
I would love to see a PostGIS geometry/geography viewer like pgadmin4 already has: https://www.bostongis.com/blog/index.php?/archives/272-pgAdmin4-now-offers-PostGIS-geometry-viewer.html
Thanks,
Christoph

[2020-11-20 06:27] zhanghq1314 opened #1200 "oracle connection ora-28009"
![image](https://user-images.githubusercontent.com/69282348/99766582-5213e600-2b3c-11eb-9152-8547b38d4abc.png)
omnidb version:3.0.2
Does omidb support SYSDBA mode login to Oracle

[2020-11-22 12:56] MichaelDBA opened #1201 "SERIOUS WARNING: Download of Windows Version comes with VIRUS!"
I downloaded the current version of OmniDB for windows (3.0.2b) today, Sunday, Nov. 22, 2020 from the official OmniDB site and my Virus protector, McAfee, detected a virus (**Suspect!5c9c7bf8fff5**) embedded in the **omnidb-server.exe** file.  It removed it successfully but I thought it was important to bring this to your attention.

[2020-11-22 17:38] sabatex commented on #1201
Windows 10 detect - "Trojan:Win32/Wacatac.D9!ml"

[2020-11-22 18:06] felipebiox commented on #1201
Hello folks,

This has already been reported and researched: `false-positive` #1185

We are working on a solution for this.

Thank you for your contribution.

Best regards

[2020-11-22 18:08] felipebiox commented on #1201
I'm closing this one to avoid the duplicate discussions, the other will remain open and you can ask questions there if you want to know more.

[2020-11-22 18:08] #1201 closed

[2020-11-23 12:26] MichaelDBA commented on #1185
I created the latest issue related to this that you closed, #1201. You say these are "false-positives".  But how does that explain how my Virus checker, McAfee,  came up with a specific virus name, "**Suspect!5c9c7bf8fff5**"?

[2020-11-23 21:10] timonych opened #1202 "[OmniDB] [3.0.2b] [MARIADB] [get_tree_info_mariadb] Problem with Schema in left side"
Hi everybody!

First - Big thanks for such great tool for online usage! I have made a home made practise with Oracle, PostgreSQL and MariaDB.

By the way, I have a problem with displaying schema in left side when I choose MariaDB.
In version 2 there is no such problem.
I have tested it via nginx reverse proxy and without nginx - problem exists in both variants of usage.

In Chrome console there is

[2020-11-25 15:25] df7cb opened #1203 "cytoscape.min.js:64 Can not apply layout: No such layout `spread` found; did you include its JS file? (Render Graph not working)"
Render Graph -> Simple Graph and Complete Graph open a gray window only here (3.0.2b from the Debian package). The only error in the browser console is this:
[code]
The list of files on disk seems ok:
[code]

Everything else is working.

[2020-11-25 16:15] ckolovson opened #1204 "Heap Cache Miss Ratio, Index Cache Miss Ratio, Autovacuum Workers Usage graphs are all blank -- postgres 10.12 running on Linux and OmniDB v3.0.2b running on Mac OS Mojave 10.14.5"
Just started using OmniDB v3.0.2b running on Mac OS Mojave  10.14.5 to monitor postgres v10.12 running on Linux. Noticed that Heap Cache Miss Ratio, Index Cache Miss Ratio, Autovacuum Workers Usage graphs are all blank. Any idea why that would be?

[2020-11-25 18:12] #1204 closed

[2020-11-25 18:12] ckolovson commented on #1204
Appears to be workload related.

[2020-11-25 20:39] ahmed-r-hashim opened #1205 "Version Control of Snippets"
Wouldn't be great to have version control (git) for pulling and pushing the snippets from/to a snippets repo.
I know there are open source components for doing that, such as https://github.com/alberthier/git-webui, which can be added into OmniDB roadmap.

[2020-11-26 14:12] timonych commented on #1202
System
`Linux OmniDB 5.4.65-1-pve #1 SMP PVE 5.4.65-1 (Mon, 21 Sep 2020 15:40:22 +0200) x86_64 x86_64 x86_64 GNU/Linux`
`CentOS Linux release 7.7.1908 (Core) `

[2020-11-26 20:03] Krylanc3lo opened #1206 "Alter Table GUI disappeared in the new version"
Hello,

Thank you very much for the new version, it is amazing.
One of the really useful features from the previous version was the GUI editor for the table, but it seems it disappeared. Do you plan to add it back in a future release ?

Thanks again for your work!

[2020-11-27 09:43] Huangchunyang2019 opened #1207 "How to batch execution sql"
Hello , I want batch execution sql,but
for example
`
INSERT INTO table (B , C) VALUES [(11,2);]
INSERT INTO table (B , C) VALUES (21,2);
INSERT INTO table (B , C) VALUES (31,2);
`
![微信截图_20201127174231](https://user-images.githubusercontent.com/48179187/100434787-fc10e680-30d7-11eb-82e3-bb9e455cdeec.png)

Thank you！

[2020-11-27 11:12] MichaelDBA commented on #1185
Any update on when the "fix" will be in?

[2020-11-27 13:18] rafaelthca commented on #1185
hi @MichaelDBA,

As my colleague @felipebiox explained, the reason why multiple antiviruses reported the same name is because OmniDB shares the same bootloader used in that particular virus, which I know nothing about but was probably bundled using the same technology.

I am already working on a fix to compile PyInstaller's bootloader myself to avoid these messages. Should be out in the next relea

[2020-11-28 10:07] MichaelDBA commented on #1185
Thank you for the explanation.  I guess I will stop using OmniDB until the next release comes out.

[2020-11-30 07:30] potato197 opened #1208 "omnidb-server 2.17.0 OSError: [Errno 0] Error"
Hi all,
I have installed omnidb-server 2.17.0 on ubuntu18.04 LTS and enabled the SSL,
sudo cat /etc/omnidb.conf

But there is always an error after starting the omnidb-server,
sudo systemctl start omnidb-server.service
sudo systemctl status omnidb-server.service

cat /var/lib/omnidb/omnidb.log

The omnidb server cannot be accessed via web browser, ERR_CONNECTION_TIMED_OUT.

Any idea to resolve thi

[2020-11-30 11:19] aleszeleny commented on #1196
Hello, in version 2.17, when `SHFT` + `up` / `down` arrow key was pressed, the whole line was selected. This makes it easy to write multiple  SQL statements and run one of them without leaving the keyboard to find the mouse and select desired lines. Version 3.0.2b in that case. Is there a new shortcut to select lines in order to be able to select multiple lines SQL without using the mouse to execu

[2020-12-01 17:53] johnnywalls commented on #1191
Just as a quick note: I'm using 3.0.2b and, adjusting the font size (single parameter) in the Options does indeed change the font size as expected on the UI elements (navigation tree, tabs, etc) but not in the SQL editor:
![image](https://user-images.githubusercontent.com/583763/100777502-347d3100-3406-11eb-8ead-0a494c88fe6b.png)

For what it's worth, I'm using KDE neon User Edition 5.20 (based on

[2020-12-01 22:46] brsgrlr opened #1210 "DPI-1047: Cannot locate a 32-bit Oracle Client library"
When I try to connect to Oracle XE, I get this error:

**DPI-1047: Cannot locate a 32-bit Oracle Client library**: "C:\app\Administrator\product\18.0.0\dbhomeXE\bin\oci.dll **is not the correct architecture**". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

[2020-12-03 15:33] Jeff-Lowrey commented on #1202
I'm having this same trouble. Looking at the Roadmap, this ticket is at the bottom of the High Priority column.

Can you give some sense on when you'll be able to address it?

I've done some poking around, and it looks like the tree_mariadb.py file has
`def get_tree_info(request):`

but all of the other tree_<database>.py files have

`def get_tree_info(request, v_database):`

I'm sure you've found

[2020-12-06 16:52] #1122 closed

[2020-12-07 15:09] habibali95 opened #1211 "Cannot connect to websocket server using kubernetes"
Hello,
Im deploying Omnidb with kubernetes,
i cant find the right service/ingress configuration to establish the websocket connection.
the current configs are :
-service with port 25482 and 80 as a targetPort
-an ingress targeting that service
but still when inspect the navigator, the url that's being invoked to establish the websocket connection is attached with the port 25482 instead of 80
im us

[2020-12-09 08:31] #1211 closed

[2020-12-14 17:04] Leonardofreua commented on #1184
Is there any forecast for the release of this version? I ask because there are some bugs that are getting in the way of using the tool such as #1176

[2020-12-15 13:46] wind39 commented on #808
Closing this now.

[2020-12-15 13:46] #808 closed

[2020-12-15 13:50] wind39 commented on #1034
Closing this now.

[2020-12-15 13:50] #1034 closed

[2020-12-15 13:50] wind39 commented on #1022
Closing this now.

[2020-12-15 13:50] #1022 closed

[2020-12-15 13:51] wind39 commented on #1065
Closing this now.

[2020-12-15 13:51] #1065 closed

[2020-12-15 13:52] wind39 commented on #1118
Closing this now.

[2020-12-15 13:52] #1118 closed

[2020-12-15 13:52] wind39 commented on #1106
Closing this now.

[2020-12-15 13:52] #1106 closed

[2020-12-15 13:55] wind39 commented on #1157
Closing this now.

[2020-12-15 13:55] #1157 closed

[2020-12-15 13:56] wind39 commented on #1153
Closing this now.

[2020-12-15 13:56] #1153 closed

[2020-12-15 13:58] wind39 commented on #1146
Closing this now.

[2020-12-15 13:58] #1146 closed

[2020-12-15 13:59] wind39 commented on #1143
Closing this now.

[2020-12-15 13:59] #1143 closed

[2020-12-15 14:51] miq opened #1212 "How to build packages from current source"
I would like to experiment with the source and eventually contribute fixes for problems we have using it with oracle. For this it would be helpful to be able to easily build deb packages of the local source.

As I understand it, building and packaging is dockerized which is very nice. But when I run
`./build_images.sh` from the deploy/linux directory I get an error for the tarbuild image:

[code]

[2020-12-16 01:41] marcopin opened #1213 "Hi @marcopin , thanks for reporting, issue fixed for next release"
My pleasure.

Hi @marcopin , thanks for reporting, issue fixed for next release

_Originally posted by @barthisrael in https://github.com/OmniDB/OmniDB/issues/1022#issuecomment-704330241_

[2020-12-16 01:42] #1213 closed

[2020-12-16 03:53] felipebiox commented on #1185
Hello folks,

We've been working on a fix for the `false-positives` generated over the use of pyinstaller.

Now we have builds available for the pre-release of 3.0.3b, which include this priority fix, but they are **NOT the final versions**, they are an improvement that reduce chances of being miss-interpreted. We tested them on quite a few versions of OS and security tools.

Those available and w

[2020-12-16 12:48] MichaelDBA commented on #1185
Tried the new build, and for me, it got past the McAfee virus detector.  It brings up the usual Windows warning as follows:
[code]
But when I proceeded with the install, got a bunch of errors:

[code]

[2020-12-16 14:57] rafaelthca commented on #1185
hi @MichaelDBA,

Does this happen every time you restart OmniDB? Do you have something else in your machine running on port 8000? I don't expect that is the case as OmniDB checks port availability before actually starting the server.

If that is reproducible, can you try running OmniDB with admin rights to see if we get past that error?

Thanks.

Rafael.

[2020-12-16 16:01] MichaelDBA commented on #1185
It happened just the first time.  It didn't happen for subsequent starts of the app or server.

[2020-12-16 17:53] #1195 closed

[2020-12-16 21:52] taf1-cornell-edu commented on #825
I agree with @kobaz 's sentiments exactly.

[2020-12-17 01:29] computogcc commented on #1160
Hello,
Same problem for me.. I have Windows 10 64 bit, too.
Any luck or news??

Thanks!!

[2020-12-17 01:54] rafaelthca commented on #1160
Hi guys,

We are going to release 3.0.3b in a few hours. We believe this issue has been addressed. Please let us know once you test it.

Rafael.

[2020-12-17 02:05] rafaelthca commented on #1160
Hi @ottojr and @computogcc,

If the app is stuck in "Starting OmniDB..." then it means that the server is not starting. Try to run it manually to see what the error is.

File is in `C:/OmniDB/omnidb-server/omnidb-server.exe`

If the console closes before you are able to see what the error is, try opening a `cmd.exe` and navigate to where the folder is, and then run `omnidb-server.exe`

[2020-12-17 06:03] computogcc commented on #1160
Hello @rafaelthca

Using OMNIDB Ver 3.0.2b and mi PC is a Windows 10 64 Bits

Server is running, when the app is stuck, I can go to 127.0.0.1:8000 and it gives me the OMNI splash and then the login page; but can´t enter the server with admin credentials, it gives me and error "Invalid authentication token, use omnidb-server to support multiple users."

Then i started first the server, as you sugge

[2020-12-17 10:43] punit-porwal opened #1214 "Is OMNIDB Backend Oracle supportted"
Hi OmniDb team,
This is enquiry not a issue, want to know if OmniDb back-end database can be used as Oracle, we know default backend database is SQLight and we can customise in 'config.py' file to start using Postgres database as backend DB in Omnidb 3.0.2b or + version, if Oracle as backend database is possiable then can your please suggest what would be the value of this properties to connect Or

[2020-12-17 13:14] felipebiox commented on #1160
Hello @computogcc ,

Thank you for the detailed report. The issue you described has been fixed on version 3.0.3b, which should be released today.

The other case, that was initially reported by @ottojr , we were not able to reproduce, that is: hanging on the other message `Starting OmniDB`.

We will further try to reproduce the original issue, but if others are experiencing it and could help us id

[2020-12-17 17:35] #1175 closed

[2020-12-17 17:42] felipebiox commented on #1184
## Release notes
- 3.0.3 changes
  - Bug Fixes
    - Query Tab: Fixed editor key behaviours related to up/down arrows (skipping rows, text selection, text shifting, text indenting) [#1176](https://github.com/OmniDB/OmniDB/issues/1176)
    - Console Tab: Fixed issue describe command for tables in PostgreSQL 12+ [#1186](https://github.com/OmniDB/OmniDB/issues/1186)
    - Console Tab: Fixed backgroun

[2020-12-18 16:32] computogcc commented on #1160
Hello @felipebiox

Just Installed version 3.0.3b and it worked, thank you for the help @rafaelthca and @felipebiox

Bye.

[2020-12-21 13:10] punit-porwal opened #1215 "MultiQueries execution"
Hi OmniDB team,

Want to know if below is expected behaviour or issue as
When I was trying to execute multiple query together for Oracle database from OMNIDB web interface then it is keep getting error like example

select sysdate from dual;
select * from dual;

ORA-00933: SQL command not properly ended

Is it known issue , do we execute only single query at a time

For postgres database if we pas

[2020-12-21 13:15] punit-porwal opened #1216 "SQLplus query not acceptable by Omnidb also sortcut now working"
Hi Omni DB ,
Could you please confirm if OmniDB web-interface is not allow me to execute sqlplus command for a Oracle database
I am getting error as below
SID=# set serveroutput on
ORA-00922: missing or invalid option
SID=# set serveroutput on
ORA-00922: missing or invalid option
SID=# set lines 100
ORA-00922: missing or invalid option
select * from dual;
set serveroutput on;
 set lines 100;
desc

[2020-12-21 13:41] habibali95 opened #1217 "Can't connect to oracle database"
Hello,
Im using the version 3.0.2b, the oracle vesrsion is 11.
i got this error on testing the connection : omnidb DPI-1047: Cannot locate a 64-bit Oracle Client library: "libclntsh.so: cannot open shared object file: No such file or directory"

![omni](https://user-images.githubusercontent.com/33641424/102783024-a0fea680-439a-11eb-9b63-01a49cb03967.JPG)

[2020-12-22 06:20] vagile-cn opened #1218 "How can I control the user permission?"
e.g.
who can access connection A or B?
who can create connection?(don't want anyone can connection from OmniDB server)

[2020-12-23 13:09] dark0ni commented on #1185
Microsoft Edge Browser has still a warning and the system too, but can now installed without being destroyed by the Windows Defender with version 3.0.3b

[2020-12-24 14:25] punit-porwal commented on #1217
you have to download Oracle SQLplus instance client and before start the server have to set LD_LIBRARY_PATH
like this
export LD_LIBRARY_PATH="..../omnidb/userdata/plugins/instantclient_18_5"

But after doing this I am still not able to connect Oracle as backend and getting this errot

Unable to create the django_migrations table (ORA-02000: missing ALWAYS keyword)
[12/24/2020 14:16:49] ERROR [Omni

[2020-12-24 14:27] punit-porwal opened #1219 "Issue during connect Oracle Db as backend for Omni DB"
I have used Oracle 11.0.2.4 as backend DB and also set LD_LIBRARY_PATH but after start getting below error

Unable to create the django_migrations table (ORA-02000: missing ALWAYS keyword)
[12/24/2020 14:16:49] ERROR [OmniDB_app.Init:227] Unable to create the django_migrations table (ORA-02000: missing ALWAYS keyword)
Please help to resolve it or do be have to use higher version

[2020-12-24 15:27] punit-porwal commented on #1218
Once you logged with Admin role then admin role user can create multiple users as normal or super user from interface and can control the access , but defiantly omni db team may guide you more

[2020-12-25 22:44] iacsvrn commented on #342
Big thanks to your work =)

[2020-12-30 14:18] pkfox opened #1220 "Can't login to omnidb server"
Hi all, I've just installed omnidb on my Win 10 pro box and tried to login using admin / admin but it fails with invalid token - any ideas ?

[2020-12-30 14:52] felipebiox commented on #1220
Hello @pkfox ,

The windows installer automatically creates two executables for you:

- `omnidb-app.exe` - for a single user as a desktop application
- `omnidb-server.exe` - allows multiple users and requires a login, to be accessed from the browser

Since you are trying to login, I assume that you are willing to use the server solution that allows multiple users, and so you are trying to access O

[2020-12-31 05:48] peterpanmj commented on #694
select 1 from dual;
select 1 from dual;
click run
ORA-00911: invalid character

I am using v2.17. It is not solved for Oracle.

[2021-01-07 14:25] BarryThrill opened #1221 "Credentials gets changed during reboot"
Hey guys!

Im proper new to OmniDB where I followed few guides to install OmniDB with Debian 10.

Yesterday I managed to get it all work where I changed my port only to 2082 and then was able to access through ip:port on browser. I was able to login as `admin admin` and then I changed the superuser username and password to `hello world1`.

After a night and a reboot of the server. It automatic sta

[2021-01-07 22:22] cyrilcros opened #1222 "Docker image for 3.0.3b"
Could you please upload to Dockerhub a build for the new version 3.0.3b? Thanks!

[2021-01-12 08:28] jianjian01 opened #1223 "When will the official version be released?"
We want to integrate omnidb in the internal system.
When will version 3.0 be released, and should I use 2.17 or 3.0?
Since websocket has been changed to long polling, this has a great impact on us.

[2021-01-13 17:24] barthisrael commented on #1222
Hello @cyrilcros

Thanks for reporting that. Could you please try again and let us know if it works?

Regards,
Israel.

[2021-01-13 19:13] Faholan opened #1224 "Getting an Uncaught ReferenceError: Tooltip is not defined in the javascript console"
My setup :
- OmniDB 3.0.2b running under Ubuntu Server 20.04.1
- Apache setup as a reverse proxy to access omnidb (which is running under 127.0.0.1:8000/omnidb) through the /omnidb route

What I do :
- Start a PostgreSQL connection
- Right click on any item that supports edition or creation (such as a database, a schema, a table...)
- Click CREATE ... or ALTER ... button

What happens:
- I get an

[2021-01-14 14:23] Leonardofreua opened #1225 "Save the state of the autocomplete button"
Suggestion: I don't particularly use the autocomplete and whenever I open OmniDB, I need to disable the button for all databases that are opened.

[2021-01-14 18:59] cyrilcros commented on #1222
Perfect, thanks!

[2021-01-14 18:59] #1222 closed, assigned to barthisrael

[2021-01-15 17:20] punit-porwal commented on #1214
it is supporting higher version of Oracle(failed in 11g), Tested from 19c as a backend for OmniDB server and working expected, Before start the server have to set
export LD_LIBRARY_PATH="....../plugins/instantclient_18_5" then working expected.

dialect values as

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.oracle',
        'NAME': 'dbname',
        'USER': 'dbuser',

[2021-01-15 17:20] #1214 closed

[2021-01-15 17:24] punit-porwal commented on #1217
Hi habibali95,
Please follow this, it will work if use higher version of Oracle like 19c(tested working).
https://github.com/OmniDB/OmniDB/issues/1214

[2021-01-18 07:16] tschroeder13 commented on #1210
Hey all,
same problem here. Tried some other locations aswell with no luck.
thx in advance and kind regards

[2021-01-18 13:27] ohnv commented on #1205
Being able to have internal snippets (as they currently are) and external snippets (saved somewhere on the users filesystem) would be great, as we could then save important snippets into a larger projects source control repo (Similar to functionality found in DataGrip and SSMS).

[2021-01-19 08:37] a-nldisr commented on #1223
Follow up: It seems only the beta versions of 3.x are available on docker hub. Can you keep the latest stable on there too (2.17 in this case)?

[2021-01-19 08:41] a-nldisr opened #1226 "Feature request"
Hi,
Are there any plans to support other databases besides the standard SQL? Example ElasticSearch, Mongo, Cassandra?

[2021-01-19 08:44] a-nldisr commented on #1164
Hi @felipebiox, Is this included in the open source version or only in the hosted version? Since the website hints towards this: `* This option adds a layer of secure authentication handled by OmniDB, with it's own configurable database.`

[2021-01-19 18:54] felipebiox commented on #1224
Hi @Faholan ,

I just tried to reproduce the bug you reported without success.
- v3.0.2b
- Debian 10
- Chrome and Firefox

Will try again later tonight with extra scenarios to reproduce that behaviour.

When that happens, does it break the interface as well / prevent the creation of the new tab that should result from the context  or is it just the tooltip error on the dev console?

If you want yo

[2021-01-19 19:01] felipebiox commented on #1221
Hi @BarryThrill ,

Resetting the database should not be a requirement at all. I will give some thought into this and get back to this issue.

Best regards

[2021-01-20 06:24] Faholan commented on #1224
This bug doesn't prevent the creation / edition, so I guess it must not be *that* important. I was more worried about any issue I wouldn't be seeing, because I don't know what that prevents omnidb from doing.
I also tried to reproduce it with another instance of OmniDB, same message. Maybe it's just my browser that's bugged ?

But yes, as far as I know, this doesn't prevent me from doing anything,

[2021-01-21 03:10] bingws opened #1227 "OmniDB migration error"
I installed version 2.17 of Omnidb at first by using release rpm package, then downgraded it to 2.16 by switching branch of sourcecode , with the following error.
Will it affect normal use? How can I avoid this mistake?

![image](https://user-images.githubusercontent.com/10806595/105274818-fcf65e00-5bd8-11eb-8cb9-26fffaeff8c3.png)

[2021-01-21 03:45] #1227 closed, assigned to nobody

[2021-01-21 18:46] Leonardofreua opened #1228 "'list' object has no attribute 'v_list'"
**OmniDB version**: 3.0.3b

This error occurs when I run a query and stop it before finishing the execution and then immediately run again. It doesn't always happen, but it has been occurring well before the current version.

![image](https://user-images.githubusercontent.com/11354911/105397250-96d10180-5bff-11eb-9ba9-303ac8e86adf.png)

The palliative solution I find is closing the tab and opening

[2021-01-22 19:40] braindevices opened #1229 "login via ssh with jump proxy and ssh agent"
use ssh agent is much easier to use. we can just ssh-add then omnidb should be ready to connect.

It will also be much useful, if the omnidb allow custom ssh command or just use the same .ssh/config as ssh command.

[2021-01-30 16:20] 133794m3r opened #1230 "Oracle Database XE never runs queries right."
When using the query panel putting a query in there always results in an ORA-00922 error. But running the _same_ query in SQL*Plus results in the query working just fine.

[2021-02-04 00:07] nwmcsween opened #1231 "docker: log to /dev/stdout"
This allows docker logs to work as well as configuring logging drivers such as syslog, journald, etc

easiest way is to chown /dev/stdout /dev/stderr as the omnidb user and configure it to output logs to /dev/stdout and errors to /dev/stderr (the /dev/stderr is an IIRC as I cannot remember if docker logs /dev/stderr at all)

[2021-02-04 00:10] nwmcsween opened #1232 "docker: allow LDAP via env vars"
Instead of having to deal with changing the code manually, here is a simple templating script I use to template things that doesn't introduce a 10MB dep (gomplate, etc):
[code]
pexit1 is just printf ... && exit 1

[2021-02-08 12:46] pgaro opened #1233 "console \ef and quicknavigation through the tree"
This is the main functionalities I'm missing all the time. The idea would be to simply open the function/table with the corresponding regclass/regproc without the need to tediously navigate through the entire tree.

[2021-02-11 15:04] pgaro opened #1234 "bug: click on name during autocompletion"
If I enter a search and click on a displayed entry instead of confirming with enter the autocomplete writes a different entry that showed up before narrowing down the search.

This affects OmniDB 2 as well as OmniDB 3b.

[2021-02-11 15:26] pgaro opened #1235 "OmniDB 3b edit data tab"
Not specifying a value leads to '' for strings and a syntax error for int etc.

While the later is awful, I think the former is not really desirable either. null sounds like the sane default to me, in particular since that does avoid postgres internal defaults for triggering. Which has the advantage of being independent from the type.

[2021-02-11 22:36] pgaro opened #1236 "OmniDB 3b autocompletion"
OmniDB 3 b slows down significantly during typing of the search actually turns up objects matching the completion. Even a keystroke isn't necessarily helping. It seems the list is newly generated for every prefix after every keystroke, even though I finished typing the complete relname already. That is particular annoying when OmniDB starts to do lookups of relations within the where or the group

[2021-02-14 08:57] BarryThrill commented on #714
Any update?

[2021-02-18 15:06] pgaro commented on #1236
1. If I specify only the schema, that leads to no completion suggestions.
2. Furthermore I get no completion suggestions anymore for pg_proc if I already specified the schema.
3. And there is no way of getting the old like '%something%' behavior anymore.

Is that intended?

My opinion on this: The autocompletion in OmniDB was always complained upon because the completion suggestions where not cont

[2021-02-18 15:53] pgaro opened #1237 "OmniDB 3b query tab names"
Spinoff of #705. This is completly broken again. Executing a query doesn't help.

Regards
pgaro

[2021-02-18 16:57] pgaro commented on #1236
One last thing to add: The limit of 500 is a serious problem, since it includes partitions of partitioned tables. The limit makes somewhat sense, but I'd suggest to at least sort them in such a manner, that partitions are omitted. Maybe it would be even better to omit individual partitions altogether.

All the best
pgaro

[2021-02-18 19:29] Leonardofreua opened #1238 "Allows SQL indentation for the selected query only."
Suggestion: It allows to perform the SQL indentation from the Indent SQL button for a specific selected query.

[2021-02-19 02:29] bingws opened #1239 "[question] how to add parameter to redefine the url？"
version: 2.17.0，also applicable to 3.0.3a

I want to  add parameter to redefine the url，I do the following steps：

the first step：modify the urls.py in OmniDB
![image](https://user-images.githubusercontent.com/10806595/108448423-a3975280-729c-11eb-93ea-ce4fa19b0633.png)

the second step ：open the browser，but get error

![image](https://user-images.githubusercontent.com/10806595/108448770-4c45b200-

[2021-02-19 09:45] #1239 closed, assigned to nobody

[2021-02-25 17:40] BinarySpike opened #1240 "Filter large database list in Postgresql"
I'm running a heroku instance with a Postgres add-on.  The server has ~2000 databases.  I can't find a way to filter to only show my database, is there a feature in OmniDB for that?

[2021-02-25 18:12] pgaro opened #1241 "OmniDB 3b scrolling bug"
Upon scrolling down in the query tab and resizing it to make it smaller, i.e. the query result bigger, it becomes impossible to scroll down completely, i.e. the lower part of the query can't be reached without increasing the query size again.

[2021-02-26 08:44] pgaro commented on #1240
I don't think so. Note the same is true for a lot of schemas, or a lot of tables/functions/views or anything within a single schema really.

As I see it, even though intended differently, my feature idea #1233 would implicitly help with this issue as well. (At least is you define a separate connection for every database you actively care about.)

Regards
pgaro

[2021-03-02 23:03] mrclary opened #1242 "Remember window size from previous session"
When opening OmniDB, the application window always opens maximized to the screen, regardless of the application window size when last opened. Clicking the maximize icon in the upper right shrinks the window down, but not to the same size as when the application was previously open. This means I have to manually resize the application window every time I open the application.

Thanks for the good w

[2021-03-05 10:48] alfoncs opened #1243 "v3.0.3b OmniDB_app.QueryServer to omnidb.log"
In version 3.0.3b it does not show in the omnidb.log output the queries executed OmniDB_app.QueryServer as in OmniDB v2

[2021-03-08 08:56] HYXBio opened #1244 "docker build error"
When I used "docker build --rm -f "Dockerfile" -t omnidb:latest ." to package, I encountered this problem in the sixth step "Step 6/11: RUN wget -q https://omnidb.org /dist/${OMNIDB_VERSION}/omnidb-server_${OMNIDB_VERSION}-debian-amd64.deb && dpkg -i omnidb-server_${OMNIDB_VERSION}-debian-amd64.deb && rm -rf omnidb-server_${OMNIDB_VERSION}- debian-amd64.deb
  ---> Running in b3b16db9b25f
The comma

[2021-03-12 20:58] Faholan opened #1245 "Omnidb doesn't apply the CUSTOM_PATH config directive"
I recently updated to omnidb 3.0.3b, and since then omnidb broke.

What I am trying to achieve is to have omnidb reachable under the /omnidb route.

To achieve that, I must tell omnidb that it runs under the /omnidb route, but it doesn't apply the directive :

I have in configuration `CUSTOM_PATH = 'omnidb'` (I also tried with '/omnidb'), and get the right log message "Starting server Omnidb 3.0.3

[2021-03-17 05:27] fernandomori2019 opened #1246 "OMNIDB - INVALID APP TOKEN"
Hello Good night!
Please, someone can help me, I am taking INVALID APP TOKEN error to access the OMNIDB app.
I already changed the port to 8001 and apparently it is running, it just doesn't open the app screen. My OS is Windows.
Thank you in advance.
I am also having multiple user error.

<img width="370" alt="omnidb_1" src="https://user-images.githubusercontent.com/58310011/111419299-fe6b7080-86c

[2021-03-17 19:04] fernandomori2019 commented on #1246
For this solution, this morning, I moved and changed port 8000 to 8001 and everything worked.
I don't know if there would be another solution, but the one I found was this one.
Thank you very much.

[2021-03-18 17:17] pgaro opened #1247 "OmniDB 3 function debugger"
...complains that "omnidb.contexts" does not exist.

Regards
pgaro

[2021-03-19 02:54] zhangchunsheng opened #1248 "Oracle can't work using docker"
DPI-1047: Cannot locate a 64-bit Oracle Client library: "libclntsh.so: cannot open shared object file: No such file or directory". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

[2021-03-22 02:49] saledemon opened #1249 "Oracle instantclient"
I'm having problems with connection to a remote Oracle database with OmniDB. I followed the instructions in the docs and downloaded the instantclient for Oracle.

The problem is it says to extract the instantclient into this directory : `OMNIDBAPPINSTALLFOLDER\resources\app\omnidb-server`

which does not seem to exist in my installation of OmniDB. I tried adding it, didn't work. I also tried extra

[2021-03-23 06:43] Bear4 opened #1250 "upgrade error - omnidb-common_3.0.3b"
Yesterday installed new omnidb-server (.deb package) on fresh install Ubuntu 20.04 (PostgreSQL 13 and PostGIS 3.1).
Today have upgrade:
omnidb-server/focal-pgdg 3.0.3b+ds-2.pgdg20.04+1 amd64 [upgradable from: 3.0.3]
The following packages will be upgraded:  firefox omnidb-server
...
Selecting previously unselected package omnidb-common.
Preparing to unpack .../37-omnidb-common_3.0.3b+ds-2.pgdg20.0

[2021-03-23 15:59] polonakc opened #1251 "Saving query output"
Hello, I am trying to save query output  as XLSX or CSV file.

This appears, but Save is not active.
The file is ready. Save

Any idea why?

[2021-03-24 03:20] felipebiox commented on #1251
Hi @polonakc ,

What do you mean with "not active"?

Once you click on the file icon, it should create that message you just said, looking like this
![image](https://user-images.githubusercontent.com/11302800/112249303-45acb080-8c36-11eb-9166-afa863b57614.png)

That's a link to the temp_file url, clicking on it should either download or generate a download popup, depending on your browser preferen

[2021-03-24 21:17] ichhaporia opened #1252 "Saving a snippet doubles quotes"
Saving a snippet that has single quotes, ends up doubling them. For example, saving the following snippet:
`update some_table set xyz = 'hello';`
and then reopening the saved snippet shows the following:
`update some_table set xyz = ''hello''`
Saving it one more time and reopening, predictable produces:
`update some_table set xyz = ''''hello''''`
and so on.

Found in version 3.0.3b app.

[2021-03-26 18:07] polonakc commented on #1251
Hi,

Thanks for getting back to me. I am using desktop client OmniDB 3.0.3b.

 When I click Save next to This file is ready as shown in your picture on the left I do not get the pop-up window with options to save the file. My guess is that something is blocking it - like a pop-up blocker.

I would appreciate any help resolving this issue. Bets wishes, Polona

[2021-03-28 12:39] NotYusta opened #1253 "New Features"
Oh hello there, i want to request a new feature that is admin api and client api with secret keys,

Admin with Admin API can use admin functions in omnidb (ex: an ability to create a normal user)
Normal User with Client Api can only use normal user functions in omnidb.

I want the api made with nodejs.

these features are really useful for database hosting provider

[2021-03-29 13:12] Geronium opened #1254 "request still running with idle process"
Hello,

I have two omnidb in my platform, one of them is at 3.0.3b version and the other at version 2 of omnidb.

when i execute a select request with omnidb 3.0.3.b, the request never ends and with the version 2, the request ends after 2 minutes, if i look the pg_stat_activity table, the request is in idle state (??)  what is happening ?

 datid | datname |  pid  | usesysid |    usename     | app

[2021-03-29 15:20] Geronium commented on #1254
and if I go to the request history of omnidb, I can see that the request was completed in 1 minute. Is this a display bug?

[2021-03-29 21:54] Geronium commented on #1254
I have no problem, if I launch the request, I go to the order history, I do a refresh and I wait. In this case the display is indeed modified.

[2021-03-30 14:30] xyziven commented on #615
Hi William @wind39 , Any updates or plan to support SQL Server?

[2021-04-01 10:08] mshiner commented on #1251
Hi

I have the exact same issue - OmniDB desktop client 3.0.3b running on Ubuntu 20.04 LTS.

I can query the db, request the csv export and the save link appears as previously. When I click the link nothing happens. I previously used version 2.17 and this has stopped working since upgrading.

Regards
Martyn

[2021-04-02 04:09] fujiokae opened #1255 "type "regnamespace" does not exist"
I'm looking for an alternative to pgAdmin III and impressed with very modern look & feel of OmniDB! However, I have a significant issue that I need to get fixed before deciding to switch to OmniDB.

I saw the issue #605 solved but I experience a similar problem.
I use PostgreSQL both 9.1 and 9.6 and the problem happens only with 9.1.

When I choose a table and go to [Data Actions]-[Edit Data], I g

[2021-04-05 14:12] vitorgalvao opened #1256 "Beta 3 versions have generic bundle identifier on macOS"
On macOS, every app is supposed to have a unique bundle identifier (`CFBundleIdentifier` key in `Info.plist`). A proper one for this app would be `org.omnidb.omnidb` or just `org.omnidb`.

Version 2 of this app had `com.electron.omnidb` which isn’t the best but it was good enough. However, the new betas use `io.nw.nwjs` which is incredibly generic. It means that other apps (and macOS in general) w

[2021-04-05 17:17] Leonardofreua opened #1257 "New feature: allows editing of SQL code while a query is running"
I would like to suggest a new feature that deals with the possibility of continuing to edit the SQL code in the editor while a specific query is running.

[2021-04-08 08:24] wodka opened #1258 "Cockroach DB connector"
Hi,

Is there a way to limit ie the postgres functions used to a certain version? Cockroach is working mostly with your postgres connector but then fails for some queries (like having cursors: https://github.com/cockroachdb/cockroach/issues/41412?version=v20.2)

[2021-04-08 08:38] zhangchunsheng commented on #1248
I think the docker container should contains all dependence.

[2021-04-08 10:39] wodka commented on #1258
it is possible to change also the backend storage to cockroachdb - requiring a few changes:

add cockroach db connector
[code]

update the config.py
[code]

fix the initial migration to not create "Connection.user" as a string:
[code]

with those changes the migrations and settings store work with cockroach.

[2021-04-08 13:08] wodka commented on #1258
Only problem that happens is that Cockroach generated pretty high ID values per default - like `648175667981778945` - using those fails in various ways:

[code]

[2021-04-08 19:15] wodka commented on #1258
is there a way for a driver to disable the cursor? sadly changing v_use_server_cursor to False does not disable it (cockroach does not support cursors)

[2021-04-12 01:11] leim commented on #98
Hey guys,

i am wondering if there is any updates about auditing user operations?

[2021-04-12 15:41] andredasilvapinto opened #1259 "Viewer only omnidb"
I would like to deploy omnidb as a docker container with a preconfigured database connection and allow our users to use omnidb with this database connection, but without the possibility of adding any other database connection.

I know that omnidb has a docker image, but it seems tha the rest of the functionality is not possible, or am I missing something?

[2021-04-13 06:54] hginzel commented on #1092
Ctrl+Enter is another often used combination.

[2021-04-13 10:22] yinxiL opened #1260 "Regular Expression DoS vulnerability"
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected 3 vulnerable regex(es) from your repository.

1: ``[/][*](\s|.)+?[*][/]`` in OmniDB/OmniDB/OmniDB_app/static/OmniDB_app/lib/cytoscape/cytoscape.js
2: ``\[(?:\\.|[^\]])*?\]|\\.|\(\?[:=!]|(\()`` in OmniDB/OmniDB/OmniDB_app/static/OmniDB_app/lib/ace/ace.js
3: ``[\/][*](\s|.

[2021-04-14 10:14] mshiner commented on #1251
Any answers on this?

Thanks
Martyn

[2021-04-14 10:18] mshiner commented on #1134
Hi

Is this related to #1251 Saving query output? in the desktop client

Thanks
Martyn

[2021-04-14 10:53] ccurvey commented on #1134
I now think I remember how I fixed this.  Let's say that the server is listening on port 8002 and 23456.

1. Point your FF browser to https://whatever.example.com:8002. You will get the message saying that the certificate is not trusted.  Accept it and continue.
2. Point your FF browser to https://whatever.example.com:23456.  You will get the same message about an untrusted certificate.  Go ahead

[2021-04-18 13:25] tacerus opened #1261 "SSH Key"
Hi,

I tried adding a terminal connection with SSH public key authentication. I tried it with all three, ed25519, RSA and DSA keys (supplying the private key in the authorized key file and the public key int the ssh key field in the OmniDB connection settings), however OmniDB always reports "Invalid Key". What are the requirements for the key to work? I attempted modifying the key, i.e. removing t

[2021-04-24 17:48] metalshanked commented on #615
Any updates on SQL Server support or workaround to add it ourselves? Thanks!

[2021-04-25 19:30] luss commented on #615
Im also interested in sql svr support and would be willing to chip in for
sponsored development.

On Sat, Apr 24, 2021, 1:48 PM metalshanked ***@***.***> wrote:

[2021-04-27 11:43] MurzNN opened #1262 "How to add connection with all available databases?"
In "New connection" form the "Database" field is required. But very often one user have access to multiple databases. How can I configure connection to show all available databases, instead of selecting only one?

[2021-04-27 11:46] MurzNN opened #1263 "Accept empty server and port in Create connection dialog with filling default values"
In most cases databases are launched locally on default ports. For simplify creating new connection will be good in "Create connection" form make "Server" and "Port" fields as not required, and test the database defaults (localhost and default port), if those fields are not filled.
What do you think about this idea?

[2021-04-27 11:51] MurzNN opened #1264 "Integrate Spartacus[mysql] pip package into Ubuntu/Debian deb package"
After installing omnidb-server on Ubuntu 20.04 - connection to mysql server is not working, when pressing "Test" - it is failed, without any warning. The warning is shown only on "Save" attempt with suggestion to install pip package:
[code]
Will be good to integrate this package into omnidb-server deb package.

[2021-04-27 11:59] MurzNN opened #1265 "Remove first level of tree with database type in left sidebar"
At now left sidebar contains unnecessary root tree item (inside blue rectangle), containing current database name and version, that can be collapsed (for what?), and increase the whitespace from the left. For what reasons it is needed?
![image](https://user-images.githubusercontent.com/336662/116238016-8afa5b80-a769-11eb-80b8-fe6ba2affac6.png)
Will be good to remove it as tree element, and place i

[2021-04-27 12:05] MurzNN opened #1266 "No ways to copy column name from Data table"
Very often we need to copy column name (table field name) to clipboard, but interface don't allow this. Can we make it possible, maybe via right-click menu "Copy column title"?

[2021-05-05 16:16] ntrabelsi-cloud commented on #1248
I've got the same issue ! , anyone please  [#1217](https://github.com/OmniDB/OmniDB/issues/1217)

[2021-05-10 03:17] skjsss opened #1267 "用omnidb查询procedures里一些表的属性报错"
![image](https://user-images.githubusercontent.com/78011143/117601572-4a470d00-b181-11eb-93db-7226df080d81.png)

[2021-05-14 12:47] marcofavale commented on #1192
having the size always fixed to the content length, will let be really hard to deal with postgis geometry columns.
by defualt column lenght should be limited to something like 20 charts

[2021-05-20 10:03] JiehuiSun opened #1268 "OmniDB Can we cross instance？"
mysql://a/db1 and mysql://b/db1 join

[2021-05-21 14:41] mshiner commented on #1251
Bump - I still have this issue with application installed on Linux.

Thanks
Martyn

[2021-05-21 17:00] polonakc commented on #1251
I still have this same problem as well.  @mshiner if you figure out something, please let me know.

[2021-05-28 21:02] kleach50 opened #1269 "Export produces save button, but nothing happens on click"
App version 3.03b on Linux Mint(deb) 18.2 Sonya.

Export failed to create save link with >1 sql line in the query window.
Reducing to a single line allows csv export to run, again?, and produces a save button.
It's in blue and mouse over underlines it, but no action or error when clicked...

![omniexport](https://user-images.githubusercontent.com/84158698/120041505-5c74d800-bfd6-11eb-870d-a92def5d

[2021-06-01 10:31] mshiner commented on #1269
Hey @kleach50 I have the self same issue on Ubuntu

Reported on #1251 also

[2021-06-01 10:36] mshiner commented on #1251
Hi @felipebiox

This is still an issue and has also been raised on #1269 - I'm guessing this is a problem with the 'app' rather than with the 'hosted' version.

Any timeline for a fix because I keep having to switch back to pgadmin if I need to export data (I prefer o stay in Omnidb obviously).

Regards
Martyn

[2021-06-07 10:34] masc-be commented on #77
Hello

Nice informations. I hope you implement that feature in the next releases. I am looking forward to testing the collaboration in our very small team

[2021-06-08 12:56] ccurvey opened #1270 "UI request -- change behavior of settings widget"
The settings widget ("gears" icon in upper right corner) expands on hover.  There is just enough of a delay when I mouse over that that I click on the link. But by the time I click, the widget has expanded, and I end up clicking on the "logout" link.

Some alternative solutions

1. At a minimum, don't have a clickable link replace the hover zone
2. Leave that settings widget expanded at all times.

[2021-06-08 14:49] ccurvey opened #1271 "right-click copy in SQL pane ignores selection"
in the SQL pane, create a new sql statement:

    select * from foo where id = 1234

highlight "1234" and right click.  Choose "copy"

Instead of copying the highlighted text, it seems to copy the entire contents of the SQL pane, not just the highlighted text.  It also brings up a modal dialog box containing the copied SQL which must be dismissed.

FWIW, ctrl-c and ctrl-v work as expected.

BONUS

[2021-06-14 09:17] ludvikroubicek opened #1272 "h"

[2021-06-14 18:14] #1272 closed, assigned to nobody

[2021-06-16 12:24] ccurvey opened #1273 "suggestion - change "add connection" button on left nav"
I find the left navigation button for "add connection" confusing.   It seems to be the gateway to two different features:  creating a new connection definition, and opening a new connection.

If it were me I would

1. Rename the button to "connect"
2. Remove the "New Connection" value from the slide-off
3. Make the slide-off from the button be the existing connection values (e.g. the ones that you